{% extends 'FOSCKEditorBundle:Form:ckeditor_widget.html.twig' %}

{% block ckeditor_widget_extra %}
    CKEDITOR.on( 'dialogDefinition', function(ev){
        var instanceName = ev.editor.name;
        var dialogName = ev.data.name;
        var dialogDefinition = ev.data.definition;

        if ( dialogName == 'table' && instanceName == 'appbundle_product_info_nutritionFacts')
        {
            var infoTab = dialogDefinition.getContents('info');
            txtWidth = infoTab.get('txtWidth');
            txtWidth['default'] = null;

            txtRows = infoTab.get('txtRows');
            txtRows['default'] = 8;

            txtCols = infoTab.get('txtCols');
            txtCols['default'] = 3;

            selHeaders = infoTab.get('selHeaders');
            selHeaders['default'] = 'row';

            txtBorder = infoTab.get('txtBorder');
            txtBorder['default'] = 0;

            txtCellSpace = infoTab.get('txtCellSpace');
            txtCellSpace['default'] = 0;

            txtCellPad = infoTab.get('txtCellPad');
            txtCellPad['default'] = 0;

            var advTab = dialogDefinition.getContents('advanced');
            advCSSClasses = advTab.get('advCSSClasses');
            advCSSClasses['default'] = 'nutrition-table';        
        }
    });
{% endblock %}