{% extends 'site/marketing/natal-blackfriday-2019/modules/base.html.twig' %}

{% block body %}

{% include 'site/marketing/natal-blackfriday-2019/modules/home.html.twig' %}

<section class="bg-parallax">
  <div class="bg jarallax" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/bg-1.jpg') }}" alt="Trufas">
  </div>
</section>

<section class="marketing-gallery">
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <a href="#" class="banner-link">
          <img class="desktop" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/banner-desktop-1.jpg') }}" alt="" title="">
          <img class="mobile" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/banner-mobile-1.jpg') }}" alt="" title="">
        </a>
      </div>

      <div class="swiper-slide">
        <a href="#" class="banner-link">
          <img class="desktop" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/banner-desktop-2.jpg') }}" alt="" title="">
          <img class="mobile" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/banner-mobile-2.jpg') }}" alt="" title="">
        </a>
      </div>

    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>

<div id="marketing-store">
  <div id="mapa-full">
    <div id="gmaps"></div>
  </div>
</div>

<section class="marketing-parallax">
  <div class="bg jarallax" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/bg-2.jpg') }}" alt="Trufas">
  </div>
</section>



    
    <h1>SUCESSO</h1>




{% endblock %}

{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ asset('/assets/site/vendor/swiper/css/swiper.min.css') }}">
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&#038;libraries=places,geometry&#038;sensor=true&#038;components=country%3ABR&#038;ver=1.0.9'></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.ui.map.full.min.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.ui.map.extensions.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/markerclusterer.min.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('/assets/site/vendor/swiper/js/swiper.min.js') }}"></script>
    <script type="text/javascript">
        (function ($, window, document, undefined) {
            $(function () {
                General.init();
                Marketing.init();
                Store.init();
            });

        })(jQuery, window, document);
    </script>
    <script src="{{ asset('assets/site/js/mapas.min.js?v=2') }}"></script>
{% endblock %}
