{% extends 'manager/modules/base.html.twig' %}

{% block title %}Produto{% endblock %}
{% block tagline %}Listagem{% endblock %}

{% block body %}
	<div class="nav-tabs-custom">	
		<ul class="nav nav-tabs">
			<li {% if filter is empty %}class="active"{% endif %}><a href="{{ path('manager_product_index') }}">Todas</a></li>
			<li {% if filter == "active" %}class="active"{% endif %}><a href="{{ path('manager_product_index', {'filter' : 'active'}) }}">Ativos</a></li>
			<li {% if filter == "inactive" %}class="active"{% endif %}><a href="{{ path('manager_product_index', {'filter' : 'inactive'}) }}">Inativos</a></li>
			<li class="pull-right header"><a class="btn-lg btn-success" href="{{ path('manager_product_new') }}"><i class="fa fa-plus-square"></i></a></li>
		</ul>                
		<div class="box-body">
			{{ sg_datatables_render(datatable) }}
		</div>
	</div>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">

	<style type="text/css">

	</style>
{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js" charset="UTF-8"></script>
	<script src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
	<script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	<script src="{{ asset('assets/manager/js/product.min.js') }}"></script>
{% endblock %}

