{% extends 'manager/modules/base.html.twig' %}

{% block title %}Produto{% endblock %}
{% block tagline %}Detalhes{% endblock %}

{% block body %}
	<div class="box box-primary">
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">Id</th>
						<td>{{ product.id }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Nome</th>
						<td>{{ product.name }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Descrição</th>
						<td>{{ product.description }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Desktop</th>
						<td>
							{% if product.desktopImage and product.desktopImage.filename %}
								<a href="#" data-featherlight="{{ asset(image_upload_path ~ product.desktopImage.filename)|imagine_filter('manager_datatable_preview') }}">
									<img src="{{ asset(image_upload_path ~ product.desktopImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
								</a>
							{% else %}
								Arquivo não disponível no servidor.
							{% endif %}
						</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Mobile</th>
						<td>
							{% if product.mobileImage and product.mobileImage.filename %}
								<a href="#" data-featherlight="{{ asset(image_upload_path ~ product.mobileImage.filename)|imagine_filter('manager_datatable_preview') }}">
									<img src="{{ asset(image_upload_path ~ product.mobileImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
								</a>
							{% else %}
								Arquivo não disponível no servidor.
							{% endif %}
						</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Peso Líq.</th>
						<td>{{ product.netweight }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Ativo</th>
						<td>{% if product.isActive %}Sim{% else %}Não{% endif %}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Criado Em</th>
						<td>{% if product.createdAt %}{{ product.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
					</tr>
				</tbody>												
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_product_index') }}">Voltar para listagem</a>
					
				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('manager_product_edit', { 'id': product.id }) }}">Editar</a>
				</div>		

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>					
			</div>
		</div>
	</div>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">
{% endblock %}

{% block scripts %}
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
	<script src="{{ asset('assets/manager/js/product.min.js') }}"></script>
{% endblock %}

