{% extends 'manager/modules/base-auth.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <section class="container" id="login">
        <div class="login-box">
            <div class="login-box-body">
				<div class="login-logo">
					<a href="#"><img src="{{ asset('/assets/site/img/logo-chocolates-brasil-cacau.svg') }}" /></a>
				</div>
                <form action="{{ path('manager_auth_login') }}" method="post" class="form-default">
                    <p class="login-box-msg">
                        {% if error %}
                            <span class="error">Invalid credentials. Please try again.</span>
                        {% else %}
                            Restricted Access
                        {% endif %}
                    </p>
                    <div class="form-group has-feedback">
                        <input id="username" name="username" type="text" class="form-control" placeholder="Username" value="{{ last_login }}"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 pull-right ct-btn">
                            <button type="submit" class="btn btn-warning btn-block btn-flat">Access</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- {{ error }} -->
{% endblock %}