{% extends 'site/modules/base.html.twig' %}

{% block title %}Chocolates Brasil Cacau{% endblock %}

{% block body %}
    <div id="cbc-contact">

        <div class="loading"></div>

        <section class="info">
            <div class="container">
                <header class="content-block">
                    <h1>Erro 500</h1>
                    <p class="notification">
                        Houve um problema com sua requisição. Tente novamente mais tarde.
                    </p>
                    <p class="notification">
                        <br/>
                        <a class="btn-default color3" targer="_blank" href="{{ path('site_home_index') }}">Ir à Página Inicial</a>
                    </p>                    
                </header>                              
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function ($, window, document, undefined) {
            $(function () {
                General.init();
                Contact.init();
            });

        })(jQuery, window, document);
    </script>
{% endblock %}