{% extends 'manager/modules/base.html.twig' %}

{% block title %}Usuário{% endblock %}
{% block tagline %}Detalhes{% endblock %}

{% block body %}
	{{ form_start(edit_form) }}
	<div class="box box-primary">
		<div class="box-body">		
				{{ form_widget(edit_form) }}
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_user_index') }}">Voltar para listagem</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="Editar" />
					{{ form_end(edit_form) }}
				</div>			
				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>	
			</div>
		</div>		
	</div>
{% endblock %}
