{% extends 'manager/modules/base.html.twig' %}

{% block title %}Usuário{% endblock %}
{% block tagline %}Criação{% endblock %}

{% block body %}
{{ form_start(form) }}
	<div class="box box-primary">
		<div class="box-body">		
				{{ form_widget(form) }}
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_user_index') }}">Voltar para listagem</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="Criar" />
				</div>			
			</div>
		</div>		
	</div>
{{ form_end(form) }}
{% endblock %}
