{% extends 'manager/modules/base.html.twig' %}

{% block title %}Usuário{% endblock %}
{% block tagline %}Listagem{% endblock %}

{% block body %}
	<div class="box box-primary">
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">Id</th>
						<td>{{ user.id }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Nome</th>
						<td>{{ user.username }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Perfis</th>
						<td>
							{% for role in user.roles %}
								{{ role }}
							{% endfor %}
						</td>
					</tr>					
					<tr>
						<th class="col-sm-2 text-right">Ativo</th>
						<td>{% if user.isActive %}Sim{% else %}Não{% endif %}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Created At</th>
						<td>{% if user.createdAt %}{{ user.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_user_index') }}">Voltar para listagem</a>
					
				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('manager_user_edit', { 'id': user.id }) }}">Editar</a>
				</div>		

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>					
			</div>
		</div>
	</div>
{% endblock %}