<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Natal na Chocolates Brasil Cacau</title>
  <meta name="description" content="Há 10 anos o Natal é melhor com Brasil Cacau.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  {% block stylesheets %}{% endblock %}
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="{{ asset('assets/site/css/main.min.css') }}?v=6">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  <meta property="og:type" content="website">
  <meta property="og:title" content="Natal na Chocolates Brasil Cacau">
  <meta property="og:description" content="Há 10 anos o Natal é melhor com Brasil Cacau.">
  <meta property="og:url" content="https://chocolatesbrasilcacau.com.br/namorados">
  <meta property="og:image" content="{{ absolute_url(asset('/assets/marketing/dia-namorados-2020/img/share.jpg')) }}">

  <script type="text/javascript">
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));

    ga('create','UA-30566615-8');
    ga('require', 'displayfeatures');
    ga('send','pageview');
  </script>

</head>
<body class="fadeout" style="padding: 0;">

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

  fbq('init', '1139538066063081');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=1139538066063081&ev=PageView&noscript=1"
  /></noscript>
<!-- End Facebook Pixel Code -->

<!-- Navigation -->
{% include 'site/marketing/dia-namorados-2020/modules/header.html.twig' %}
<!-- end Navigation -->

{% block body %}{% endblock %}

<!-- Footer -->
{% include 'site/marketing/dia-namorados-2020/modules/footer.html.twig' %}
<!-- end Footer -->

<!-- pixel Verizon -->
<img src="https://sp.analytics.yahoo.com/spp.pl?a=10000&.yp=10035684"/>

<script src="{{ asset('assets/site/js/vendor/jquery.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/jssocials.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/vanilla-masker.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/select2.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/parallax.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/ofi.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/jarallax.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/jarallax-element.js') }}"></script>
<script src="{{ asset('assets/site/js/marketing/dia-namorados-2020/main.min.js') }}?v=4"></script>
{% block scripts %}{% endblock %}
</body>
</html>
