<section id="marketing-contact">
  <div class="container">
    <div class="content-block">
        <h2>Cadastre-se {{ submitDataError }}</h2>
        <p>
          Cadastre-se para receber conteúdos exclusivos, promoções e novidades da Brasil Cacau.
        </p>
    </div>

    <div class="form form-default">
      <div class="{{ warnSuccess or warnError ? 'hide-box box-form' : 'box-form' }}">

        {% form_theme form 'bootstrap_4_layout.html.twig' %} {# assim renderiza tag de bootstrap nos inputs. pode ser só div se quiser. #}
        {{ form_start(form, {'attr': {'id': 'form-franchise'}}) }}
        {{ form_widget(form._token) }}
        <div class="form-field">
          {{ form_widget(form.name, {'attr': {'placeholder': 'Nome*'}} ) }}
          <div class="error">{{ form_errors(form.name) }}</div>
        </div>
        <div class="form-field">
          {{ form_widget(form.phonePrimary, {'attr': {'placeholder': 'Telefone*', 'pattern': '\\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$' }}) }}

          <div class="error">{{ form_errors(form.phonePrimary) }}</div>
        </div>

        <div class="form-field">
          {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail*'}}) }}

          <div class="error">{{ form_errors(form.email) }}</div>
        </div>
        <div class="form-field" style="position: relative; top: -10px;">
          {{ form_widget(form.hasAgreed, {} ) }}

          <div class="error">{{ form_errors(form.hasAgreed) }}</div>
        </div>

        <div class="general-error">
          {{ form_errors(form) }}
        </div>
        <div class="ct-btn">
          <button type="submit" class="btn-default color5" id="form-contact-submit">Cadastrar</button>
        </div>
        {{ form_end(form, {'render_rest': false}) }}

      </div>

      {% if warnSuccess %}

        <div class="box-warn success">
          <h3>Parabéns, seus dados foram enviados com sucesso!</h2>
        </div>

      {% elseif warnError %}

        <div class="box-warn success">
          <h3>Houve um problema ao enviar seus dados. Por favor tente novamente mais tarde!</h2>
        </div>

      {% endif %}

    </div>
  </div>
</section>
