<footer id="marketing-footer">
  <div class="container">
    <p><small>© 2019</small> <small>• Chocolates Brasil Cacau</small> <small>• Todos os direitos reservados</small> <small>• <a href="{{ path('site_about_privacy') }}">Política de privacidade</a></small> <small>• <a href="{{ path('site_about_rule') }}">Regulamentos Promoções Vigentes</a></small></p>
    <div class="marketing-social">
      <ul>
        <li class="ico-instagram">
          <a href="https://www.instagram.com/chocolatesbrasilcacau/" target="_blank" class="js-clk-ext-ga" data-categoria="Social Rodape" data-action="Clique" data-label="Instagram">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 169.063 169.063">
              <g>
                <path class="icons" d="M122.406 0H46.654C20.929 0 0 20.93 0 46.655v75.752c0 25.726 20.929 46.655 46.654 46.655h75.752c25.727 0 46.656-20.93 46.656-46.655V46.655C169.063 20.93 148.133 0 122.406 0zm31.657 122.407c0 17.455-14.201 31.655-31.656 31.655H46.654C29.2 154.063 15 139.862 15 122.407V46.655C15 29.201 29.2 15 46.654 15h75.752c17.455 0 31.656 14.201 31.656 31.655v75.752z"/>
                <path class="icons" d="M84.531 40.97c-24.021 0-43.563 19.542-43.563 43.563 0 24.02 19.542 43.561 43.563 43.561s43.563-19.541 43.563-43.561c0-24.021-19.542-43.563-43.563-43.563zm0 72.123c-15.749 0-28.563-12.812-28.563-28.561 0-15.75 12.813-28.563 28.563-28.563s28.563 12.813 28.563 28.563c0 15.749-12.814 28.561-28.563 28.561zM129.921 28.251c-2.89 0-5.729 1.17-7.77 3.22-2.051 2.04-3.23 4.88-3.23 7.78 0 2.891 1.18 5.73 3.23 7.78 2.04 2.04 4.88 3.22 7.77 3.22 2.9 0 5.73-1.18 7.78-3.22 2.05-2.05 3.22-4.89 3.22-7.78 0-2.9-1.17-5.74-3.22-7.78-2.04-2.05-4.88-3.22-7.78-3.22z"/>
              </g>
            </svg>
          </a>
        </li>
        <li class="ico-facebook">
          <a href="https://www.facebook.com/ChocolatesBrasilCacau/" target="_blank" class="js-clk-ext-ga" data-categoria="Social Rodape" data-action="Clique" data-label="Facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408.788 408.788">
              <path class="icons" d="M353.701 0H55.087C24.665 0 .002 24.662.002 55.085v298.616c0 30.423 24.662 55.085 55.085 55.085h147.275l.251-146.078h-37.951c-4.932 0-8.935-3.988-8.954-8.92l-.182-47.087c-.019-4.959 3.996-8.989 8.955-8.989h37.882v-45.498c0-52.8 32.247-81.55 79.348-81.55h38.65c4.945 0 8.955 4.009 8.955 8.955v39.704c0 4.944-4.007 8.952-8.95 8.955l-23.719.011c-25.615 0-30.575 12.172-30.575 30.035v39.389h56.285c5.363 0 9.524 4.683 8.892 10.009l-5.581 47.087c-.534 4.506-4.355 7.901-8.892 7.901h-50.453l-.251 146.078h87.631c30.422 0 55.084-24.662 55.084-55.084V55.085C408.786 24.662 384.124 0 353.701 0z" fill="#ffffff"/>
            </svg>
          </a>
        </li>
        <li class="ico-youtube">
          <a href="https://www.youtube.com/chocolatesbrasilcacau" target="_blank" class="js-clk-ext-ga" data-categoria="Social Rodape" data-action="Clique" data-label="Youtube">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310" width="512" height="512">
              <path class="icons" d="M297.917 64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359 0-61.369 5.776-72.517 19.938C0 79.663 0 100.008 0 128.166v53.669c0 54.551 12.896 82.248 83.386 82.248h143.226c34.216 0 53.176-4.788 65.442-16.527C304.633 235.518 310 215.863 310 181.835v-53.669c0-29.695-.841-50.16-12.083-63.521zm-98.896 97.765l-65.038 33.991c-1.454.76-3.044 1.137-4.632 1.137-1.798 0-3.592-.484-5.181-1.446-2.992-1.813-4.819-5.056-4.819-8.554v-67.764c0-3.492 1.822-6.732 4.808-8.546 2.987-1.814 6.702-1.938 9.801-.328l65.038 33.772c3.309 1.718 5.387 5.134 5.392 8.861.004 3.73-2.065 7.151-5.369 8.877z" fill="#ffffff"/>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
