{% extends 'site/modules/base.html.twig' %}

{% block title %}Contato{% endblock %}
{% block description %}Deixe seu recado, sugestão ou crítica. Sua opinião é sempre bem-vinda.{% endblock %}

{% block body %}
    <div id="cbc-contact">

        <div class="loading"></div>

        <section class="info">
            <div class="container">
                <header class="content-block">
                    <h1>Contato</h1>
                    <p>
                        Queremos estar mais próximos de você. Fale conosco e deixe seu recado, sugestão, opinião ou nos indique uma receita feita com nossos produtos.
                    </p>
                </header>
                <div class="content-block perguntas-frequentes">
                    <h2>Dúvidas Frequentes</h2>
                    <dl>
                        <dt>A Chocolates Brasil Cacau possui produtos sem lactose?</dt>
                        <dd>Temos o <a href="{{ path('site_product_show', { slug:'tablete-zero-lactose'}) }}">Tablete Zero Lactose, de 20g</a>. Experimente esta delícia.</dd>

                        <dt>A Chocolates Brasil Cacau possui produtos sem glúten?</dt>
                        <dd>Sim, verificar na tabela nutricional do produto de interesse no próprio site.</dd>

                        <dt>Posso fazer uma visita à fábrica?</dt>
                        <dd>Não. Visitas não são abertas ao público, por se tratar de uma indústria de alimentos que precisa seguir as normas e especificações dos órgãos regulamentadores, como por exemplo a Vigilância Sanitária.</dd>

                        <dt>Como obter informações nutricionais dos produtos?</dt>
                        <dd>A <strong>Chocolates Brasil Cacau</strong> disponibiliza a tabela nutricional de todos os seus produtos de linha aqui no site. Verifique na página do produto de seu interesse.</dd>

                        <dt>Existe venda online?</dt>
                        <dd>Sim. Você pode realizar seu pedido através do <a href="https://loja.chocolatesbrasilcacau.com.br">e-commerce</a> ou por WhatsApp na <a href="https://whts.co/cbc">loja mais próxima</a>. Encontre também nossos produtos nos aplicativos <a href="https://rappi.onelink.me/aeJ0/a078d2e1">Rappi</a> e <a href="https://ifoodbr.onelink.me/F4X4/brasilcacau">iFood</a>.</dd>

                        <dt>Como faço para me tornar um franqueado?</dt>
                        <dd>Por meio do link <a href="http://franquia.chocolatesbrasilcacau.com.br/">seja um franqueado</a>, você conhecerá melhor como funciona a franquia <strong>Chocolates Brasil Cacau</strong> e poderá realizar seu cadastro para uma pré-seleção.</dd>
                    </dl>
                </div>

                <div class="content-block contato-call-to-action">
                  <div class="wrap">
                    <h2>Quer ser um franqueado?</h2>
                    <a href="http://franquia.chocolatesbrasilcacau.com.br/" class="font-gotham-thin">Clique aqui e seja um franqueado</a>
                  </div>
                </div>

                <div class="content-block contato-telefone">
                    <h2>Pelo Telefone</h2>
                    <p>
                        De segunda a sexta-feira, das 08:20h as 16:50h, você pode ligar para o nosso Serviço de Atendimento ao Consumidor <strong>(SAC) 0800 770 0201</strong>.
                    </p>
                </div>
                <div class="content-block contato-mensagem">
                    <h2>Por Mensagem</h2>
                    <p>
                        Se preferir envie uma mensagem preenchendo os campos abaixo:
                    </p>
                </div>
                <div class="content-block form-mensagem">
                    <div class="form form-default">
                        <p id="form-loading">
                            Carregando...
                        </p>
                        <form name="deskmanager_logar" method="post" id="form-signin" action="https://grupocrm.desk.ms/ext/portal/logar/?Portal" style="display: none;">
                            <input type="hidden" id="pref" name="desk_prefixo" value="grupocrm" />
                            <input type="hidden" id="caminho" name="desk_caminho" value="http://www.chocolatesbrasilcacau.com.br/contato" />

                            <div class="form-row">
                                <div class="form-field">
                                    <input type="email" id="desk_login" name="desk_login" required="required" oninvalid="setCustomValidity('Campo obrigatório.');" onchange="setCustomValidity('');" placeholder="Login*" class="form-control" maxlength="100">
                                    <div class="error"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <input type="password" id="desk_senha" name="desk_senha" placeholder="Senha" class="form-control" maxlength="30">
                                    <div class="error"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <div class="ct-esqueci-a-senha">
                                        <input type="checkbox" id="form-check-forgot-password" name="desk_esq" class="form-control" style="display: none" />
                                        <button type="button" class="btn-esqueci-a-senha" id="form-forgot-password">Esqueci a senha</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field form-buttons">
                                    <div class="ct-btn">
                                        <button type="button" class="btn-default color3" id="form-show-signup">Não Tenho Cadastro</button>
                                        <a href="{{ path('site_home_index') }}" class="btn-default color3">Voltar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field form-buttons">
                                    <div class="ct-btn">
                                        <button type="submit" class="btn-default color3 btn-full-size" id="form-login-submit">Login</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <div class="ct-btn">
                                        <div class="aviso">* Campos obrigatórios</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form name="deskmanager_cadastrar" method="post" id="form-signup" action="https://grupocrm.desk.ms/ext/portal/cadastrar/?Portal" style="display:none;">
                            <input type="hidden" name="desk_prefixo" value="grupocrm" />
                            <input type="hidden" name="desk_caminho_cadastro" value="http://www.chocolatesbrasilcacau.com.br/contato" />
                            <input type="hidden" name="desk_caminho_validacao" value="http://www.chocolatesbrasilcacau.com.br/contato" />
                            <input type="hidden" name="desk_departamento" value="000067" />
                            <input type="hidden" name="desk_local" value="00008" />
                            <input type="hidden" name="desk_codigo_cliente" value="000004" />

                            <div class="form-row">
                                <div class="form-field">
                                    <input type="text" id="desk_nome" name="desk_nome" required="required" oninvalid="setCustomValidity('Campo obrigatório.');" onchange="setCustomValidity('');" placeholder="Nome*" class="form-control">
                                    <div class="error"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <input type="text" id="desk_sobrenome" name="desk_sobrenome" required="required" oninvalid="setCustomValidity('Campo obrigatório.');" onchange="setCustomValidity('');" placeholder="Sobrenome*" class="form-control">
                                    <div class="error"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <input type="email" id="desk_email" name="desk_email" required="required" oninvalid="setCustomValidity('Campo obrigatório.');" onchange="setCustomValidity('');" placeholder="E-mail*" class="form-control">
                                    <div class="error"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <input type="tel" id="desk_telefone" name="desk_telefone" required="required" placeholder="Telefone" oninvalid="setCustomValidity('Preencha com um telefone v&amp;aacute;lido.');" onchange="setCustomValidity('');" class="form-control">
                                    <div class="error"></div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-field form-buttons">
                                    <div class="ct-btn">
                                        <button type="button" class="btn-default color3" id="form-show-signin">Já Tenho Cadastro</button>
                                        <a href="{{ path('site_home_index') }}" class="btn-default color3">Voltar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field form-buttons">
                                    <div class="ct-btn">
                                        <button type="submit" class="btn-default color3 btn-full-size" id="form-signup-submit">Cadastrar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-field">
                                    <div class="ct-btn">
                                        <div class="aviso">* Campos obrigatórios</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-block trabalhe-conosco">
                    <h2>Trabalhe Conosco</h2>
                    <div>
                        <p>
                            Se você tem interesse em ser um parceiro no dia a dia, clique no link ao lado e siga os passos indicados:
                        </p>
                        <a class="btn-default color3" targer="_blank" href="http://www.vagas.com.br/grupocrm">Entrar</a>
                    </div>
                </div>
                <div class="content-block sala-de-imprensa">
                    <h2>Sala de Imprensa</h2>
                    <p>
                        Se desejar mais informações sobre nosso trabalho, nossos produtos e campanhas, entre em contato.
                    </p>
                    <p class="info-assessoria">
                        <em>LEMA - Assessoria de Imprensa Chocolates Brasil Cacau</em><br/>
                        <strong>Tel: (11) 3871-0022</strong><br/>
                        <strong>E-mail: natalia@agencialema.com.br</strong><br/>
                    </p>
                    <p>
                        Obs.: Serviços e informações somente à jornalistas.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function ($, window, document, undefined) {
            $(function () {
                General.init();
                Contact.init();
            });

        })(jQuery, window, document);
    </script>
{% endblock %}
