@media only screen and (max-width:1180px) {
}

@media only screen and (max-width:1024px) {
}

@media only screen and (max-width:990px) {
}

@media only screen and (max-width:768px) {
}

@media only screen and (max-width:480px) {
}

@media only screen and (max-width:320px) {
}