.btn-default {
  position: relative;
  border-radius: 20px;
  border: 2px solid $cor-2b;
  padding: 8px 15px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Gotham Thin", sans-serif;
  &:hover, &:focus {
    background-color: $cor-2b;
    opacity: 1;
  }

  &.color3 {
    border-color: $cor-3b;
    &:hover, &:focus {
      background-color: $cor-3b;
    }
  }

  &.color4 {
    border-color: $cor-2;
    color: $cor-2;
    font-weight: 600;
    &:hover, &:focus {
      color: #ffffff;
    }
  }

  &.color5 {
    border-color: white;

    &:hover, &:focus {
      color: $cor-2;
      background-color: white;
    }
  }
}
