%clear {
  content: ' ';
  display: table;
}
.clear {
  *zoom: 1;
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear: both;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}