* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 14px;
  -webkit-tap-highlight-color:transparent;
}

body {
  padding-top: 60px;
  @extend .font-gotham-book;
  color: $cor-1;
  &.menu-mobile {
    overflow: hidden;
  }

  .container {
    width: 985px;
    margin: 0 auto;
  }

  a {
    color: $cor-1;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  ul {
    padding: 0;
    list-style: none;
  }

  input {
    @extend .font-gotham-book;
  }
}

@media only screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (max-width:1100px) {
  body {
    padding-top: 54px;
  }
}
