.form-default {
  padding-bottom: 40px;

  .form-field {
    height: 65px;

    input, textarea, select, .select2-container--default {
      height: 40px;
      border-radius: 5px;
      border: none;
      padding: 5px 15px;
      font-size: 20px;
      font-weight: 600;
      width: 100%;
      box-shadow:inset 0 0 2px 2px #ccc;
      background: #fff;
      @extend .font-gotham-book;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #411f1f;
        opacity: 1; /* Firefox */
      }
    }
 
    &.form-textarea {
      height: 220px;
      
      textarea {
        height: 100%;
        padding: 15px;
      }
    }

    .error {
      padding: 3px 0;
      color: red;
      font-style: italic;
      font-size: 12px;
      .form-error-icon {
        display: none;
      }
    }

  }

  button {
    background: transparent;
    @extend .font-gotham-book;
    font-size: 19px;
    cursor: pointer;
  }

  .ct-btn {
    text-align: center;
  }

}

@media only screen and (max-width:1100px) {
  .form-default {
    .form-field {
      height: 60px;
      input, select, .select2-container--default {
        height: 35px;
        font-size: 16px;
      }
    }
  }
}