//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600');

@font-face {
  font-family: 'Gotham Book';
  src: url('/assets/site/fonts/Gotham-Book.woff2') format('woff2'),
  url('/assets/site/fonts/Gotham-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-gotham-book {
  font-family: 'Gotham Book', sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Thin';
  src: url('/assets/site/fonts/Gotham-Thin.woff2') format('woff2'),
  url('/assets/site/fonts/Gotham-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-gotham-thin {
  font-family: 'Gotham Thin', sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('/assets/site/fonts/Gotham-Bold.woff2') format('woff2'),
  url('/assets/site/fonts/Gotham-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-gotham-bold {
  font-family: 'Gotham Bold', sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: 'The Heart Maze';
  src: url('/assets/site/fonts/the_heart_maze_demo-webfont.woff2') format('woff2'),
  url('/assets/site/fonts/the_heart_maze_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-heart-maze {
  font-family: 'The Heart Maze', sans-serif;
  font-weight: normal;
}