$cor-1: #404047;
$cor-1a: #95959d;
$cor-2: #5f3f2a;
$cor-2a: #876a62;
$cor-2c: #aa8b7f;
$cor-2b: #8b5e34;
$cor-3: #f2902e;
$cor-3b: #f39932;
$cor-4: #cec6ab;
$cor-4a: #cba092;
$cor-4b: rgba(107, 100, 103, 0.5);
$cor-4c: #cca192;
$cor-5: #452322;
$cor-5a: #94766c;
$cor-10: #3c2424;