<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} | Chocolates Brasil Cacau - Trufas, bombons, expresso e outros produtos</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  {% block stylesheets %}{% endblock %}
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="{{ asset('assets/site/css/main.min.css') }}?v=12">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'/>

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ block('title')}} - Chocolates Brasil Cacau">
  <meta property="og:description" content="{{ block('description')}}">
  <meta property="og:url" content="{{ path('site_home_index') }}">
  <meta property="og:image" content="{{ absolute_url(asset('/assets/site/img/share.png')) }}">

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30566615-1']);
    _gaq.push(['_trackPageview', '/cbc_a-chocolates-brasil-cacau']);
    _gaq.push(['_trackEvent', 'pagina', 'exibiu', 'homepage_brasilcacau']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!-- Init code Huggy.chat  //-->
  <script>
    if( window.location.pathname.indexOf( 'conecte-se' ) < 0 ) {
      var $_Huggy = { defaultCountry: '+55', widget_id: '22392', company: '314605' }; (function(i,s,o,g,r,a,m){ i[r]={context:{id:'1d104fb2dd671279410fa06dbcbda2d4'}};a=o;o=s.createElement(o); o.async=1;o.src=g;m=s.getElementsByTagName(a)[0];m.parentNode.insertBefore(o,m); })(window,document,'script','https://js.huggy.chat/widget.min.js','pwz');
    }
  </script>
  <!-- End code Huggy.chat  //-->

  <script type="text/javascript">
    var _rl_cn = _rl_cn || 0,_rl_ptc = ("https:" == window.location.protocol ? "https" : "http");
    window._rl_ids = window._rl_ids || [];
    window._rely = window._rely || [];
    _rl_ids.push({pid:1914,src:0});
    _rely.send = _rely.send?_rely.send:function() {};
    ( function() {
      var rl = document.createElement("script");
      rl.type = "text/javascript";
      rl.async = true;
      rl.src = _rl_ptc + "://api.retargetly.com/loader?id=" + _rl_ids[_rl_ids.length-1].pid;
      rl.id = "rely-api-"+(_rl_cn++);
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(rl, s);
    } )();
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-30566615-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-30566615-1');
  </script>
</head>
<body>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1139538066063081');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=1139538066063081&ev=PageView&noscript=1"
    /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1104920656536205');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1104920656536205&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

<style media="screen">
  .wrap-btn-whatsapp,
  .wrap-btn-cart {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    margin: 0px;
    width: 190px;
    min-width: 129px;
    height: 49px;
    right: 24px;
    bottom: 82px;
    resize: none;
    transition-property: none;
    transform: rotate(0deg) translateZ(0px) !important;
    transform-origin: 0px center 0px !important;
    box-shadow: 0 0 0 5px rgba(73,68,41,0.06);
    background-color: #3c2525;
    align-items: center;
    border-radius: 14px;
    color: white;
    outline: 0;
    opacity: 1;
    transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
    animation: flipInY 1s forwards!important;
    z-index: 10000010;
    cursor: pointer;
  }

  .wrap-btn-whatsapp {
    width: 50px;
    min-width: 50px;
    bottom: 143px;
    background-color: #7AD06D;
  }

  .wrap-btn-whatsapp .icon-whatsapp {
    width: 32px;
  }

  .wrap-btn-whatsapp:hover,
  .wrap-btn-cart:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.23), 0 10px 40px rgba(0,0,0,0.19);
  }

  .text-message {
    display: block;
    width: 130px;
    top: 15px;
    left: 45px;
    font-family: sans-serif;
    overflow: hidden;
    white-space: nowrap;
    max-height: 26px;
    font-size: 14px;
    text-align: center;
    padding-right: 30px;
    text-transform: uppercase;
  }

  @keyframes flipInY {
    0% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
    }
    40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
    }
  }
</style>

{% if ( 'conecte-se' in app.request.uri ) == 1 %}
<style media="screen">
  .wrap-btn-cart {
    bottom: 42px;
  }

  .wrap-btn-whatsapp {
    bottom: 103px;
  }
</style>
{% endif %}

{# {% if ( 'homolog' in app.request.uri ) == 1 %} #}
  <a href="http://api.whatsapp.com/send?1=pt_BR&phone=+5511988674993&text=" class="wrap-btn-cart wrap-btn-whatsapp">
    <img class="icon-whatsapp" src="/assets/site/img/ui/whatsapp.png" alt="Whatsapp">
  </a>
{# {% endif %} #}

<a href="https://loja.chocolatesbrasilcacau.com.br" target="_blank" class="wrap-btn-cart">
  <img class="icon-cart" src="/assets/site/img/ui/icon-car.png" alt="Carrinho"> <div class="text-message">Compre Aqui</div>
</a>

<!-- Navigation -->
{% include 'site/modules/header.html.twig' %}
<!-- end Navigation -->

{% block body %}{% endblock %}

<!-- Footer -->
{% include 'site/modules/footer.html.twig' %}
<!-- end Footer -->

<script src="{{ asset('assets/site/js/vendor/jquery.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/jssocials.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/vanilla-masker.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/select2.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/parallax.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/ofi.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/jarallax.min.js') }}"></script>
<script src="{{ asset('assets/site/js/vendor/jarallax-element.js') }}"></script>
<script src="{{ asset('assets/site/js/main.min.js') }}?v=4"></script>
{% block scripts %}{% endblock %}
</body>
</html>
