<footer id="cbc-footer">
  <div class="container">
    <p>© 2018 • Chocolates Brasil Cacau • Todos os direitos reservados • <a href="{{ path('site_about_privacy') }}">Política de privacidade</a> • <a href="{{ path('site_about_rule') }}">Regulamentos Promoções Vigentes</a></p>
    <div class="social"></div>
  </div>
</footer>
