<header id="cbc-header">
  <div class="container">
    <a href="#" class="menu-trigger">
      <span></span>
    </a>
    <a href="/" class="logo">
      <img class="logo-desktop" width="111" src="/assets/site/img/logo-chocolates-brasil-cacau.svg" alt="Chocolates Brasil Cacau">
      <img class="logo-mobile" width="auto" height="60" src="/assets/site/img/logo-chocolates-brasil-cacau-mobile.svg" alt="Chocolates Brasil Cacau">
    </a>
    <nav class="menu">
      <ul>
        <li>
          <a href="{{ path('site_about_index') }}" class="btn-quem-somos" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'quem_somos'});">Quem Somos</a>
        </li>
        <li class="menu-produtos-mobile">
          <a href="{{ path('site_product_index') }}" class="btn-produtos" >Produtos</a>
        </li>
        <li class="submenu menu-produtos-desktop">
          <a>Produtos</a>
          <ul>
            {% for category in category_helper_service.getActiveWithFeatured() %}
                <li {{ category.isFeatured ? 'class="special"' : '' }}><a href="{{ path('site_product_category', {'slug': category.slug}) }}" class="btn-produtos" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'produtos'});">{{ category.text }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="{{ path('site_contact_index') }}" class="btn-contato" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'contato'});">Contato</a>
        </li>
        <li>
          <a href="{{ path('site_store_index') }}" class="btn-lojas" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'lojas'});">Lojas</a>
        </li>
        <li class="btn-franchising">
          <a href="http://franquia.chocolatesbrasilcacau.com.br/" target="_blank" class="btn-seja-franqueado" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'franqueado_1'});">Seja franqueado</a>
        </li>
      </ul>
    </nav>
    <div class="search">
      <form action="{{ path('site_product_search') }}" class="form-search" method="get">
        <input type="text" name="s" placeholder="Buscar"/>
        <input type="submit" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'buscar'});"/>
      </form>
    </div>
    <div class="social">
      <ul>
        <li class="ico-instagram">
          <a href="https://www.instagram.com/chocolatesbrasilcacau/" target="_blank" class="btn-instagram" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'instagram'});">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 169.063 169.063">
              <g>
                <path class="icons" d="M122.406 0H46.654C20.929 0 0 20.93 0 46.655v75.752c0 25.726 20.929 46.655 46.654 46.655h75.752c25.727 0 46.656-20.93 46.656-46.655V46.655C169.063 20.93 148.133 0 122.406 0zm31.657 122.407c0 17.455-14.201 31.655-31.656 31.655H46.654C29.2 154.063 15 139.862 15 122.407V46.655C15 29.201 29.2 15 46.654 15h75.752c17.455 0 31.656 14.201 31.656 31.655v75.752z"/>
                <path class="icons" d="M84.531 40.97c-24.021 0-43.563 19.542-43.563 43.563 0 24.02 19.542 43.561 43.563 43.561s43.563-19.541 43.563-43.561c0-24.021-19.542-43.563-43.563-43.563zm0 72.123c-15.749 0-28.563-12.812-28.563-28.561 0-15.75 12.813-28.563 28.563-28.563s28.563 12.813 28.563 28.563c0 15.749-12.814 28.561-28.563 28.561zM129.921 28.251c-2.89 0-5.729 1.17-7.77 3.22-2.051 2.04-3.23 4.88-3.23 7.78 0 2.891 1.18 5.73 3.23 7.78 2.04 2.04 4.88 3.22 7.77 3.22 2.9 0 5.73-1.18 7.78-3.22 2.05-2.05 3.22-4.89 3.22-7.78 0-2.9-1.17-5.74-3.22-7.78-2.04-2.05-4.88-3.22-7.78-3.22z"/>
              </g>
            </svg>
          </a>
        </li>
        <li class="ico-facebook">
          <a href="https://www.facebook.com/ChocolatesBrasilCacau/" target="_blank" class="btn-facebook" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'facebook'});">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408.788 408.788">
              <path class="icons" d="M353.701 0H55.087C24.665 0 .002 24.662.002 55.085v298.616c0 30.423 24.662 55.085 55.085 55.085h147.275l.251-146.078h-37.951c-4.932 0-8.935-3.988-8.954-8.92l-.182-47.087c-.019-4.959 3.996-8.989 8.955-8.989h37.882v-45.498c0-52.8 32.247-81.55 79.348-81.55h38.65c4.945 0 8.955 4.009 8.955 8.955v39.704c0 4.944-4.007 8.952-8.95 8.955l-23.719.011c-25.615 0-30.575 12.172-30.575 30.035v39.389h56.285c5.363 0 9.524 4.683 8.892 10.009l-5.581 47.087c-.534 4.506-4.355 7.901-8.892 7.901h-50.453l-.251 146.078h87.631c30.422 0 55.084-24.662 55.084-55.084V55.085C408.786 24.662 384.124 0 353.701 0z" fill="#ffffff"/>
            </svg>
          </a>
        </li>
        <li class="ico-youtube">
          <a href="https://www.youtube.com/chocolatesbrasilcacau" target="_blank" class="btn-youtube" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'youtube'});">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310" width="512" height="512">
              <path class="icons" d="M297.917 64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359 0-61.369 5.776-72.517 19.938C0 79.663 0 100.008 0 128.166v53.669c0 54.551 12.896 82.248 83.386 82.248h143.226c34.216 0 53.176-4.788 65.442-16.527C304.633 235.518 310 215.863 310 181.835v-53.669c0-29.695-.841-50.16-12.083-63.521zm-98.896 97.765l-65.038 33.991c-1.454.76-3.044 1.137-4.632 1.137-1.798 0-3.592-.484-5.181-1.446-2.992-1.813-4.819-5.056-4.819-8.554v-67.764c0-3.492 1.822-6.732 4.808-8.546 2.987-1.814 6.702-1.938 9.801-.328l65.038 33.772c3.309 1.718 5.387 5.134 5.392 8.861.004 3.73-2.065 7.151-5.369 8.877z" fill="#ffffff"/>
            </svg>
          </a>
        </li>
        <li class="ico-share">
          <a href="#" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 430.117 430.118">
              <path class="icons" d="M151.804 215.059c0 1.475-.336 2.856-.423 4.326l154.111 77.03c13.194-11.173 30.075-18.146 48.725-18.146 41.925.009 75.9 33.985 75.9 75.905 0 41.967-33.976 75.942-75.9 75.942-41.961 0-75.9-33.976-75.9-75.942 0-1.512.336-2.861.42-4.326l-154.111-77.035c-13.234 11.131-30.075 18.104-48.725 18.104-41.922 0-75.9-33.938-75.9-75.858 0-41.962 33.979-75.945 75.9-75.945 18.649 0 35.496 7.017 48.725 18.148l154.111-77.035c-.084-1.473-.42-2.858-.42-4.368 0-41.88 33.939-75.859 75.9-75.859 41.925 0 75.9 33.979 75.9 75.859 0 41.959-33.976 75.945-75.9 75.945-18.691 0-35.539-7.017-48.725-18.19l-154.111 77.077c.082 1.472.423 2.858.423 4.368z" fill="#FFF"/>
            </svg>
          </a>
          <div id="cbc-header-social-share"></div>
        </li>
      </ul>
    </div>
    <a href="http://franquia.chocolatesbrasilcacau.com.br/" target="_blank" class="franchising btn-franqueado" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'franqueado_2'});">
      <img width="180" src="/assets/site/img/label-tornese-franqueado.png" alt="Torne-se um franqueado">
    </a>
  </div>
</header>
