.fadeout {
  &:before {
    content: "";
    background-color: #402021;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    animation: fadeOut 1s 1.2s linear 1 forwards;
  }
}

@keyframes fadeOut {
  0%  { opacity: 1;}
  99% { opacity: 0; }
  100% { opacity: 0; z-index: -1; }
}
