.marketing-gallery {
  .swiper-container {
    width: 100%;
    height: 460px;

    .swiper-wrapper {
      .swiper-slide .banner-link {
        display: block;
        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;

          &.mobile {
            display: none;
          }

          &.desktop {
            display: block;
          }
        }
      }
    }

    .swiper-pagination-bullet-active {
      background: #eb6900;
    }
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    opacity: 1;
  }
}

@media only screen and (max-width:768px) {
  .marketing-gallery {
    .swiper-container {
      height: auto;
      // height: 300px;

      .swiper-wrapper {
        .swiper-slide .banner-link {
          img {
            &.mobile {
              display: block;
            }
            &.desktop {
              display: none;
            }
          }
        }
      }
    }
    .banner {
      width: 100%;
      background-size: cover;
    }
  }
}
