.marketing-parallax {
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 0;
  background-color: #9a5543;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    content: "";
    box-shadow: inset 0px 38px 58px -30px black;
    z-index: 1;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    content: "";
    box-shadow: inset 0 -38px 58px -30px black;
    z-index: 1;
  }

  .bg {
    height: 160px;
    width: 100%;

    @media only screen and ( max-width: 850px ) {
      height: 100px;
    }
  }

  &.mobile {
    display: none;
  }

  &.desktop {
    display: block;
  }

  @media only screen and (max-width:640px) {
    &.mobile {
      display: block;
    }

    &.desktop {
      display: none;
    }
  }

  .content {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      top: 0;
      left: 40%;
    }
    .text {
      position: relative;
      width: 770px;
      height: 400px;
      text-align: right;
      padding-top: 260px;
      padding-right: 90px;
      p {
        width: 100%;
        color: $cor-2;
        font-size: 19px;
        display: block;
        margin-bottom: 35px;
        &.color3 {
          color: $cor-3b;
        }
        &.color2b {
          color: $cor-2b;
        }
      }
    }
  }
}
