.marketing-social {
  height: 60px;

  svg {
    width: 25px;
    height: 25px;
  }
  ul {
    margin: 0;
    padding: 20px 8px;
    display: flex;
    align-items: center;
    li {
      padding: 0 3px;
      position: relative;
      &:hover {
        #marketing-header-social-share {
          visibility: visible;
          opacity: 1;
        }
      }
      #marketing-header-social-share {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 100;
        background-color: #ffffff;
        left: 0;
        top: 25px;
        width: 25px;
        padding: 0 3px 0 6px;
        transition: all 0.3s ease-in-out;
      }

      a {
        .icons {
          fill: #ffffff;
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          .icons {
            fill: rgba(255,255,255,0.5);
          }
        }
      }
      &.ico-twitter {
        svg {
          width: 17px;
          height: 14px;
        }
      }
      &.ico-instagram {
        svg {
          width: 18px;
          height: 17px;
        }
      }
      &.ico-facebook {
        svg {
          width: 18px;
          height: 17px;
        }
      }
      &.ico-youtube {
        svg {
          width: 22px;
          height: 17px;
        }
      }
      &.ico-share {
        svg {
          width: 19px;
          height: 17px;
        }
      }
    }
  }
}
