{% extends 'site/modules/base.html.twig' %}

{% block title %}Mapa de Lojas{% endblock %}
{% block description %}Se você aprecia um bom chocolate e não sabe aonde encontrar a Chocolates Brasil Cacau, confira nosso mapa e encontre a loja mais próxima de você. {% endblock %}

{% block body %}

<div id="cbc-store">
    <nav class="sideBar">
        <h3>Nossas  Lojas</h3>
        <div class="form form-default">
            <div class="form-field">
                <input id="loja-search" name="loja-search" type="text" class="search" placeholder="Buscar" />
                <input id="search-coordinates" name="search-coordinates" type="hidden" value="" >
            </div>
            <div class="form-field">
                {{ form_widget(form.city) }}
            </div>
        </div>
        {% if stores %}
        <ul class="list-lojas" id="mapa-listing-enderecos">
            {% for store in stores %}
            <li class="location "
                style="display: none;"
                data-id="{{ store.id }}"
                data-end="{{ store.address }}"
                data-uf="{{ store.city.state.abbreviation }}"
                data-cidade="{{ store.city.name }}"
                data-lat="{{ store.latitude }}"
                data-lng="{{ store.longitude }}"
                data-desc='{{ store.address|lower }}{% if store.addressComplement %}- {{ store.addressComplement|lower }}{% endif %}<br />{{ store.addressDistrict|lower }} - {{ store.city.name }} - {{ store.city.state.abbreviation }}<br />CEP: {{ store.addressZipcode }}<br />{% if store.phoneNumber %}Tel.: {{ store.phoneNumber }}<br />{% endif %}{% if store.whatsappNumber %}Delivery: <a href="http://api.whatsapp.com/send?1=pt_BR&phone=55{{ store.whatsAppNumber|replace({"(":"", ")":"", "-":"", " ":""}) }}" target="_blank">{{ store.whatsAppNumber }} <img style="position: relative; top: 3px; margin-left: 2px; display: inline-block; width:18px;" src="{{ asset('/assets/site/img/store/whatsapp-icon.png') }}"></a><br />{% endif %}'>
                <h2 class="lnk-loja">
                    {{ store.name }}
                </h2>
                {{ store.address|lower }}<br>
                {% if store.addressComplement %}{{ store.addressComplement|lower }}<br>{% endif %}
                {% if store.addressDistrict %}{{ store.addressDistrict|lower }}<br>{% endif %}
                {{ store.city.name|lower }} - {{ store.city.state.abbreviation }}<br>
                CEP: {{ store.addressZipcode }}<br>
                {% if store.phoneNumber %}Tel.: {{ store.phoneNumber }}<br>{% endif %}
                {% if store.whatsAppNumber %}Delivery: <a style="color: white;" href="http://api.whatsapp.com/send?1=pt_BR&phone=55{{ store.whatsAppNumber|replace({"(":"", ")":"", "-":"", " ":""}) }}" target="_blank">{{ store.whatsAppNumber }} <img style="position: relative; top: 3px; display: inline-block; width:15px;" src="{{ asset('/assets/site/img/store/whatsapp-icon.png') }}"></a><br>{% endif %}

                <div class="selos-servicos cf">
                    {% if store.hasCoffee %}
                    <div class="selo">
                        <img src="{{ asset('/assets/site/img/store/coffee-icon.svg') }}"> <p>com cafeteria</p>
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="drawer">

        </div>
    </nav>
    <div id="mapa-full">
        <div id="gmaps"></div>
    </div>

</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block scripts %}
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&#038;libraries=places,geometry&#038;sensor=true&#038;components=country%3ABR&#038;ver=1.0.9'></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.ui.map.full.min.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.ui.map.extensions.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/markerclusterer.min.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script type="text/javascript">
        (function ($, window, document, undefined) {
            $(function () {
                General.init();
                Store.init();
            });

        })(jQuery, window, document);
    </script>
    <script src="{{ asset('assets/site/js/mapas.min.js?v=2') }}"></script>
{% endblock %}
