{% extends 'manager/modules/base.html.twig' %}

{% block title %}City{% endblock %}
{% block tagline %}Detailed information{% endblock %}

{% block body %}
{{ form_start(form) }}
	<div class="box box-primary">
		<div class="box-body">		
				{{ form_widget(form) }}
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_city_index') }}">Back to the list</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="Create" />
				</div>			
			</div>
		</div>		
	</div>
{{ form_end(form) }}
{% endblock %}
