<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{{ asset('assets/manager/components/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/manager/components/Ionicons/css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/manager/components/select2/dist/css/select2.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/manager/css/AdminLTE.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/manager/css/skins/skin-yellow.min.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	{# <link rel="stylesheet" href="{{ asset('assets/manager/components/font-awesome/css/font-awesome.min.css') }}"> #}
	
	{% block styles %}{% endblock %}

	<script src="{{ asset('assets/manager/components/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ asset('assets/manager/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('assets/manager/js/adminlte.min.js') }}"></script>
	<script src="{{ asset('assets/manager/components/select2/dist/js/select2.full.min.js') }}"></script>	
	<script src="{{ asset('assets/manager/plugins/input-mask/jquery.inputmask.js') }}"></script>    
    <script src="{{ asset('assets/manager/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>  
    <script src="{{ asset('assets/manager/plugins/input-mask/jquery.inputmask.numeric.extensions.js') }}"></script>
	<script src="{{ asset('assets/manager/plugins/input-mask/jquery.inputmask.regex.extensions.js') }}"></script>

	<script src="{{ asset('assets/manager/js/main.min.js') }}"></script>

	{% block scripts %}{% endblock %}
</head>

<body class="hold-transition skin-yellow sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<a href="{{ path('manager') }}" class="logo">
				<span class="logo-mini">CBC</span>
				<span class="logo-lg"><b>CBC</b> Manager</span>
			</a>
            <nav class="navbar navbar-static-top" role="navigation">
				<a href="#" class="sidebar-toggle fas fa-bars" data-toggle="push-menu" role="button"><span class="sr-only">Toggle navigation</span></a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="user user-menu">
							<a href="" class="dropdown-toggle">
								<span class="hidden-xs">{{ app.user.username }}</span>
							</a>
                        </li>
                        <li>
                            <a href="{{ path('manager_user_edit', { 'id' : app.user.id }) }}" title="Trocar a senha"><i class="fa fa-lock"></i></a>
                        </li>                        
                        <li>
                            <a href="{{ path('manager_auth_logout') }}" title="Encerrar sessão"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu" data-widget="tree">
					<li class="header">Gerenciador de Conteúdo</li>
					<li class="treeview {% if app.request.get('_route') matches '/^manager_banner/' %}active{% endif %}">
						<a href="#"><i class="fa fa-images"></i> <span>Banner</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a href="{{ path('manager_banner_index') }}">Listar Banners</a></li>
							<li><a href="{{ path('manager_banner_new') }}">Criar Banner</a></li>
						</ul>
					</li>
					<li class="treeview {% if app.request.get('_route') matches '/^manager_product/' %}active{% endif %}">
						<a href="#"><i class="fa fa-cookie"></i> <span>Produtos</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a href="{{ path('manager_product_index') }}">Listar Produtos</a></li>
							<li><a href="{{ path('manager_product_new') }}">Criar Produto</a></li>
							<li><a href="{{ path('manager_product_info_index') }}">Listar Informaçoes do Produtos</a></li>
							<li><a href="{{ path('manager_product_info_new') }}">Criar Informação do Produto</a></li>							
						</ul>
					</li>
					<li class="treeview {% if app.request.get('_route') matches '/^manager_(category|theme)/' %}active{% endif %}">
						<a href="#"><i class="fa fa-tag"></i> <span>Taxonomia</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a href="{{ path('manager_category_index') }}">Listar Categorias</a></li>
							<li><a href="{{ path('manager_category_new') }}">Criar Categoria</a></li>
							<li><a href="{{ path('manager_theme_index') }}">Listar Tema</a></li>
							<li><a href="{{ path('manager_theme_new') }}">Criar Tema</a></li>
						</ul>
					</li>					
					<li {% if app.request.get('_route') matches '/^manager_lead/' %}class="active"{% endif %}>
						<a href="{{ path('manager_lead_index') }}"><i class="fa fa-comments-dollar"></i> <span>Leads</span></a>
					</li>						
					<li class="treeview {% if app.request.get('_route') matches '/^manager_store/' %}active{% endif %}">
						<a href="#"><i class="fa fa-store"></i> <span>Lojas</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a href="{{ path('manager_store_index') }}">Listar Lojas</a></li>
							<li><a href="{{ path('manager_store_new') }}">Criar Loja</a></li>
						</ul>
					</li>
					<li class="treeview {% if app.request.get('_route') matches '/^manager_(state|city)/' %}active{% endif %}">
						<a href="#"><i class="fa fa-globe"></i> <span>Cidades/Estados</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a href="{{ path('manager_state_index') }}">Listar Estados</a></li>
							<li><a href="{{ path('manager_city_index') }}">Listar Cidades</a></li>
							<li><a href="{{ path('manager_city_new') }}">Criar Cidade</a></li>
						</ul>
					</li>																	
					<li class="treeview  {% if app.request.get('_route') matches '/^manager_user/' %}active{% endif %}">
						<a href="#"><i class="fa fa-user"></i> <span>Usuários</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a href="{{ path('manager_user_index') }}">Listar</a></li>
							<li><a href="{{ path('manager_user_new') }}">Criar</a></li>
						</ul>
					</li>
				</ul>
			</section>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>{{ block('title') }}<small>{% block tagline %}{% endblock %}</small></h1>
			</section>
			<section class="content container-fluid">
				<div class="row">
					<div class="col-xs-12">
						{% include 'manager/modules/messages.html.twig' %}
								
						{% block body %}{% endblock %}
					</div>
				</div>			
			</section>
		</div>

		<footer class="main-footer">
		</footer>
	</div>
</body>
</html>