<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}{% endblock %}</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="{{ asset('assets/manager/components/bootstrap/dist/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/manager/components/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/manager/components/Ionicons/css/ionicons.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/manager/css/AdminLTE.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/manager/css/skins/skin-yellow.min.css') }}">

		{% block styles %}{% endblock %}

		<script src="{{ asset('assets/manager/components/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/manager/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/manager/js/adminlte.min.js') }}"></script>
		
		{% block scripts %}{% endblock %}
	</head>

	<body class="hold-transition login-page">
		{% block body %}{% endblock %}
	</body>
</html>
