{% extends 'manager/modules/base.html.twig' %}

{% block title %}Home Banner{% endblock %}
{% block tagline %}Edição{% endblock %}

{% block body %}
	{{ form_start(edit_form) }}
	<div class="box box-primary">
		<div class="box-body">
			<div class="form-group">
				{{ form_label(edit_form.desktopImage) }}
				<div class="col-sm-10">
					{% if banner.desktopImage and banner.desktopImage.filename %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ banner.desktopImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ banner.desktopImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.desktopImage) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(edit_form.mobileImage) }}
				<div class="col-sm-10">
					{% if banner.mobileImage and banner.mobileImage.filename %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ banner.mobileImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ banner.mobileImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">				
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.mobileImage) }}</div>
			</div>	
			{{ form_widget(edit_form) }}		
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_banner_index') }}">Voltar para listagem</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="Editar" />
					{{ form_end(edit_form) }}
				</div>
				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>	
			</div>
		</div>		
	</div>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">
{% endblock %}

{% block scripts %}
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
	<script src="{{ asset('assets/manager/js/banner.min.js') }}"></script>
{% endblock %}

