{% extends 'manager/modules/base.html.twig' %}

{% block title %}Banner{% endblock %}
{% block tagline %}Detalhes{% endblock %}

{% block body %}
	<div class="box box-primary">
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
				<tr>
					<th class="col-sm-2 text-right">Id</th>
					<td>{{ banner.id }}</td>
				</tr>
				<tr>
					<th class="col-sm-2 text-right">Desktop</th>
					<td>
						<a href="#" data-featherlight="{{ asset(image_upload_path ~ banner.desktopImage.filename)|imagine_filter('manager_datatable_preview') }}">
							<img src="{{ asset(image_upload_path ~ banner.desktopImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
						</a>
					</td>
				</tr>
				<tr>
					<th class="col-sm-2 text-right">Mobile</th>
					<td>
						<a href="#" data-featherlight="{{ asset(image_upload_path ~ banner.mobileImage.filename)|imagine_filter('manager_datatable_preview') }}">
							<img src="{{ asset(image_upload_path ~ banner.mobileImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
						</a>
					</td>
				</tr>
				<tr>
					<th class="col-sm-2 text-right">Link</th>
					<td>{% if banner.Url %}<a target="_blank" href="{{ banner.url }}">{{ banner.url }}</a>{% else %}N/D{% endif %}</td>
				</tr>				
				<tr>
					<th class="col-sm-2 text-right">Ativo</th>
					<td>{% if banner.isActive %}Sim{% else %}Não{% endif %}</td>
				</tr>
				<tr>
					<th class="col-sm-2 text-right">Data de Publicação</th>
					<td>{% if banner.publishAt %}{{ banner.publishAt|date('Y-m-d H:i:s') }}{% endif %}</td>
				</tr>						
				<tr>
					<th class="col-sm-2 text-right">Data de Expiração</th>
					<td>{% if banner.expiresAt %}{{ banner.expiresAt|date('Y-m-d H:i:s') }}{% endif %}</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_banner_index') }}">Voltar para listagem</a>

				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('manager_banner_edit', { 'id': banner.id }) }}">Editar</a>
				</div>

				<div class="btn-group pull-right" role="group">
                    {{ form_start(delete_form) }}
					<input class="btn btn-danger" type="submit" value="Remover">
                    {{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">
{% endblock %}

{% block scripts %}
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
	<script src="{{ asset('assets/manager/js/banner.min.js') }}"></script>
{% endblock %}