{% extends 'site/marketing/dia-namorados-2020/modules/base.html.twig' %}

{% block body %}

{% include 'site/marketing/dia-namorados-2020/modules/home.html.twig' %}

<section class="marketing-parallax">
  <div class="bg jarallax" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="{{ asset('assets/marketing/dia-namorados-2020/img/bg-desktop-1.jpg') }}" alt="Trufas">
  </div>
</section>

<section class="marketing-gallery">
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <a href="https://www.chocolatesbrasilcacau.com.br/regulamento" class="banner-link js-clk-ext-ga" data-categoria="Banner" data-action="Clique" data-label="#1">
          <img class="desktop" src="{{ asset('assets/marketing/dia-namorados-2020/img/banner-desktop-1.jpg') }}" alt="" title="">
          <img class="mobile" src="{{ asset('assets/marketing/dia-namorados-2020/img/banner-mobile-1.jpg') }}" alt="" title="">
        </a>
      </div>

      <div class="swiper-slide">
        <a href="https://www.chocolatesbrasilcacau.com.br/regulamento" class="banner-link js-clk-ext-ga" data-categoria="Banner" data-action="Clique" data-label="#2">
          <img class="desktop" src="{{ asset('assets/marketing/dia-namorados-2020/img/banner-desktop-2.jpg') }}" alt="" title="">
          <img class="mobile" src="{{ asset('assets/marketing/dia-namorados-2020/img/banner-mobile-2.jpg') }}" alt="" title="">
        </a>
      </div>

      <div class="swiper-slide">
        <a href="https://www.chocolatesbrasilcacau.com.br/regulamento" class="banner-link js-clk-ext-ga" data-categoria="Banner" data-action="Clique" data-label="#3">
          <img class="desktop" src="{{ asset('assets/marketing/dia-namorados-2020/img/banner-desktop-3.jpg') }}" alt="" title="">
          <img class="mobile" src="{{ asset('assets/marketing/dia-namorados-2020/img/banner-mobile-3.jpg') }}" alt="" title="">
        </a>
      </div>

    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>

<div id="marketing-store">
  <nav class="sideBar">
    <div class="container">
      <div class="box-search">
        <h3>Encontre a loja mais próxima de você</h3>

        <div class="form form-default">
          <div class="form-field">
            <input id="loja-search" name="loja-search" type="text" class="search" placeholder="Buscar" />
            <input id="search-coordinates" name="search-coordinates" type="hidden" value="" >
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% if stores %}
  <ul class="list-lojas" id="mapa-listing-enderecos" style="display: none;">
      {% for store in stores %}
      <li class="location "
          style="display: none;"
          data-id="{{ store.id }}"
          data-end="{{ store.address }}"
          data-uf="{{ store.city.state.abbreviation }}"
          data-cidade="{{ store.city.name }}"
          data-lat="{{ store.latitude }}"
          data-lng="{{ store.longitude }}"
          data-desc="{{ store.address|lower }}{% if store.addressComplement %}- {{ store.addressComplement|lower }}{% endif %}<br />{{ store.addressDistrict|lower }} - {{ store.city.name }} - {{ store.city.state.abbreviation }}<br />CEP: {{ store.addressZipcode }}<br />{% if store.phoneNumber %}Tel.: {{ store.phoneNumber }}<br />{% endif %}">
          <h2 class="lnk-loja">
              {{ store.name }}
          </h2>
          {{ store.address|lower }}<br>
          {% if store.addressComplement %}{{ store.addressComplement|lower }}<br>{% endif %}
          {% if store.addressDistrict %}{{ store.addressDistrict|lower }}<br>{% endif %}
          {{ store.city.name|lower }} - {{ store.city.state.abbreviation }}<br>
          CEP: {{ store.addressZipcode }}<br>
          {% if store.phoneNumber %}Tel.: {{ store.phoneNumber }}<br>{% endif %}
          <div class="selos-servicos cf">
              {% if store.hasCoffee %}
              <div class="selo">
                  <img src="{{ asset('/assets/site/img/store/coffee-icon.svg') }}"> <p>com cafeteria</p>
              </div>
              {% endif %}
          </div>
      </li>
      {% endfor %}
  </ul>
  {% endif %}

  <div id="mapa-full">
    <div id="gmaps"></div>
  </div>
</div>

<section class="marketing-parallax">
  <div class="bg jarallax" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="{{ asset('assets/marketing/dia-namorados-2020/img/bg-desktop-2.jpg') }}" alt="Trufas">
  </div>
</section>

{% include 'site/marketing/dia-namorados-2020/modules/contact.html.twig' %}

{% endblock %}

{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ asset('/assets/site/vendor/swiper/css/swiper.min.css') }}">
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&#038;libraries=places,geometry&#038;sensor=true&#038;components=country%3ABR&#038;ver=1.0.9'></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.ui.map.full.min.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.ui.map.extensions.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/markerclusterer.min.js') }}"></script>
    <script src="{{ asset('assets/site/js/vendor/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script src="{{ asset('/assets/site/vendor/swiper/js/swiper.min.js') }}"></script>
    <script type="text/javascript">

      (function ($, window, document, undefined) {
        $(function () {
            General.init();
            Marketing.init();
            Contact.init();
            Store.init();
            Tagging.init();
        });
      })(jQuery, window, document);

    </script>
    <script src="{{ asset('assets/site/js/marketing/dia-namorados-2020/mapas.min.js?v=2') }}"></script>
{% endblock %}
