{% extends 'manager/modules/base.html.twig' %}

{% block title %}Categoria{% endblock %}
{% block tagline %}Edição{% endblock %}

{% block body %}
	{{ form_start(edit_form) }}
	<div class="box box-primary">
		<div class="box-body">
			<div class="form-group">
				{{ form_label(edit_form.pageBackgroundImage) }}
				<div class="col-sm-10">
					{% if category.pageBackgroundImage and category.pageBackgroundImage.filename and not (category.pageBackgroundImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ category.pageBackgroundImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ category.pageBackgroundImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.pageBackgroundImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.pageBackgroundImage) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(edit_form.textBackgroundImage) }}
				<div class="col-sm-10">
					{% if category.textBackgroundImage and category.textBackgroundImage.filename and not (category.textBackgroundImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ category.textBackgroundImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ category.textBackgroundImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.textBackgroundImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.textBackgroundImage) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(edit_form.titleBackgroundImage) }}
				<div class="col-sm-10">
					{% if category.titleBackgroundImage and category.titleBackgroundImage.filename and not (category.titleBackgroundImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ category.titleBackgroundImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ category.titleBackgroundImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.titleBackgroundImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.titleBackgroundImage) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(edit_form.topLeftParallaxImage) }}
				<div class="col-sm-10">
					{% if category.topLeftParallaxImage and category.topLeftParallaxImage.filename and not (category.topLeftParallaxImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ category.topLeftParallaxImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ category.topLeftParallaxImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.topLeftParallaxImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.topLeftParallaxImage) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(edit_form.bottomLeftParallaxImage) }}
				<div class="col-sm-10">
					{% if category.bottomLeftParallaxImage and category.bottomLeftParallaxImage.filename and not (category.bottomLeftParallaxImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ category.bottomLeftParallaxImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ category.bottomLeftParallaxImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.bottomLeftParallaxImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.bottomLeftParallaxImage) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(edit_form.topRightParallaxImage) }}
				<div class="col-sm-10">
					{% if category.topRightParallaxImage and category.topRightParallaxImage.filename and not (category.topRightParallaxImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ category.topRightParallaxImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ category.topRightParallaxImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.topRightParallaxImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.topRightParallaxImage) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(edit_form.bottomRightParallaxImage) }}
				<div class="col-sm-10">
					{% if category.bottomRightParallaxImage and category.bottomRightParallaxImage.filename and not (category.bottomRightParallaxImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ category.bottomRightParallaxImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ category.bottomRightParallaxImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.bottomRightParallaxImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.bottomRightParallaxImage) }}</div>
			</div>	
			{{ form_widget(edit_form) }}																	
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_category_index') }}">Voltar para listagem</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="Editar" />
					{{ form_end(edit_form) }}
				</div>			
				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>	
			</div>
		</div>		
	</div>
{% endblock %}
