{% extends 'manager/modules/base.html.twig' %}

{% block title %}Categoria{% endblock %}
{% block tagline %}Criação{% endblock %}

{% block body %}
{{ form_start(form) }}
	<div class="box box-primary">
		<div class="box-body">		
				{{ form_widget(form) }}
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_category_index') }}">Voltar para listagem</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="Criar" />
				</div>			
			</div>
		</div>		
	</div>
{{ form_end(form) }}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ asset('assets/manager/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}

{% block scripts %}
	<script src="{{ asset('assets/manager/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
{% endblock %}

