{% extends 'manager/modules/base.html.twig' %}

{% block title %}Categoria{% endblock %}
{% block tagline %}Detalhes{% endblock %}

{% block body %}
	<div class="box box-primary">
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">Id</th>
						<td>{{ category.id }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Categoria</th>
						<td>{{ category.text|raw }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Slug</th>
						<td>{{ category.slug }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Descrição</th>
						<td>{{ category.description|raw }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Ativa</th>
						<td>{% if category.isActive %}Sim{% else %}Não{% endif %}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Criada Em</th>
						<td>{% if category.createdAt %}{{ category.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
					</tr>
				</tbody>												
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_category_index') }}">Voltar para listagem</a>
					
				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('manager_category_edit', { 'id': category.id }) }}">Editar</a>
				</div>		

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>					
			</div>
		</div>
	</div>
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">Produtos da categoria "{{ category.text }}"</h3>
		</div>
		<div class="box-body">
			{{ sg_datatables_render(datatable) }}
		</div>
	</div>	
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">

	<style type="text/css">

	</style>
{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js" charset="UTF-8"></script>
	<script src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/fc-3.2.2/fh-3.1.2/r-2.1.0/datatables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
	<script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	<script src="{{ asset('assets/manager/js/product.min.js') }}"></script>
{% endblock %}

