<section class="marketing-home-default">
  <div class="box-assets">
    <h1 class="title">
      <img src="{{ asset('assets/marketing/natal-blackfriday-2019/img/tt-call-default.png') }}" alt="" title="">
    </h1>

    <div class="panettone">
      <img src="{{ asset('assets/marketing/natal-blackfriday-2019/img/panettone.png') }}" alt="" title="">
    </div>

    <div class="selo">
      <img data-jarallax-element="80 0" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/selo.png') }}" alt="" title="">
    </div>

    <div class="papai-noel">
      <img data-jarallax-element="-10 -30" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/papai-noel.png') }}" alt="" title="">
    </div>

    <div class="gatomia">
      <img data-jarallax-element="0 25" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/gatomia.png') }}" alt="" title="">
    </div>

    <div class="piramides-left-2">
      <img data-jarallax-element="0 20" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/piramides-left-2.png') }}" alt="" title="">
    </div>

    <div class="piramides-left-1">
      <img data-jarallax-element="0 50" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/piramides-left-1.png') }}" alt="" title="">
    </div>

    <div class="piramides-right-2">
      <img data-jarallax-element="0 -20" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/piramides-right-2.png') }}" alt="" title="">
    </div>

    <div class="piramides-right-1">
      <img data-jarallax-element="0 -50" src="{{ asset('assets/marketing/natal-blackfriday-2019/img/piramides-right-1.png') }}" alt="" title="">
    </div>
  </div>
</section>
