{% extends 'manager/modules/base.html.twig' %}

{% block title %}City{% endblock %}
{% block tagline %}Detailed information{% endblock %}

{% block body %}
	<div class="box box-primary">
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">Id</th>
						<td>{{ lead.id }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Campanha</th>
						<td>{{ lead.campaign ?? 'Nenhuma' }}</td>
					</tr>					
					<tr>
						<th class="col-sm-2 text-right">Nome</th>
						<td>{{ lead.name }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">CPF</th>
						<td>{{ lead.cpf ?? 'N/D' }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">E-mail</th>
						<td><a target="_blank" href="mailto:{{ lead.email }}">{{ lead.email }}</a></td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Endereço</th>
						<td>
							{{ lead.address ?? 'N/D' }}
							{% if lead.number %}, {{ lead.number }}{% endif %}
							{% if lead.complement %}, {{ lead.complement }}{% endif %}
							{% if lead.cep %} -  {{ lead.cep }}{% endif %}
							{% if lead.neighborhood %}, {{ lead.neighborhood }}{% endif %}
							{% if lead.city %},  {{ lead.city.name }}/{{ lead.city.state.abbreviation }} {% endif %}
						</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Contato Primário</th>
						<td>{{ lead.phonePrimary ?? 'N/D' }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Contato Secundário</th>
						<td>{{ lead.phoneSecondary ?? 'N/D' }}</td>
					</tr>	
					<tr>
						<th class="col-sm-2 text-right">Aceitou Termos e Condições</th>
						<td>{{ lead.hasAgreed ? 'Sim' : 'Não' }}</td>
					</tr>																						
					<tr>
						<th class="col-sm-2 text-right">Data do Contato</th>
						<td>{% if lead.createdAt %}{{ lead.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
					</tr>
				</tbody>				
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_lead_index') }}">Back to the list</a>
					
				</div>		
			</div>
		</div>
	</div>
{% endblock %}

{% block styles %}
	<style type="text/css">
		form {
			display: inline-block;
		}
	</style>
{% endblock %}

{% block scripts %}
	<script src="{{ asset('assets/manager/js/lead.min.js') }}"></script>
{% endblock %}