#cbc-footer {
  position: relative;
  background-color: #201010;
  height: 70px;
  border-bottom: 10px solid $cor-3;
  display: flex;
  align-items: center;
  p {
    padding-top: 10px;
    font-size: 12px;
    color: $cor-2b;

    a {
      color: inherit;
    }
  }
}

@media only screen and (max-width:1100px) {
  #cbc-footer {
    height: auto;
    .container {
      p {
        padding-left: 20px;
        margin-bottom: 20px;
      }
    }
  }
}