#cbc-header {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  width: 100%;
  height: 60px;
  background-color: #3c2525;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  &.open {
    height: 100%;
    .container {
      height: 100%;
      .menu {
        height: 100vh;
        transition: background-color 0.3s ease-in-out;
        display: block;
        position: absolute;
        padding-top: 180px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        ul {
          width: 100%;
          height: 100%;
          display: block;
          li {
            width: 100%;
            margin-bottom: 10px;
            a {
              padding: 10px 0;
            }
          }
        }
      }
      .search {
        display: block;
        position: absolute;
        top: 120px;
        left: 20%;
        right: 20%;
        form {
          input[type=text] {
            width: 100%;
          }
        }
      }
      .social {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        ul {
          display: inline-block;
          li {
            display: inline-block;
            a {
              padding: 0 15px;
            }
          }
        }
      }
    }
  }
  &.compact {
    .container {
      .logo {
        height: 60px;
        img {
          box-shadow: none;
          &.logo-desktop {
            opacity: 0;
          }
        }
      }
    }
  }
  .container {
    // position: relative;
    display: flex;
    align-content: start;
    a.menu-trigger {
      display: none;
      position: absolute;
      top: 10px;
      margin-left: 15px;
      width: 30px;
      height: 40px;
      z-index: 200;
      span {
        transition: all 0.4s;
        background-color: $cor-2b;
        display: block;
        position: absolute;
        width: 30px;
        height: 3px;
        left: 0;
        &:before, &:after {
          content: "";
          transition: all 0.4s;
          background-color: $cor-2b;
          display: block;
          position: absolute;
          width: 30px;
          height: 3px;
          left: 0;
        }
        top: 16px;
        &:before {
          transform-origin: 50% 100%;
          top: -8px;
          z-index: 10;
        }
        &:after {
          transform-origin: 50% 0;
          top: 8px;
        }
      }
      &.active span {
        background-color: transparent;
        &:before, &:after {
          background-color: transparent;
        }
        &:before {
          transform: translateY(8px) translateX(1px) rotate(45deg);
          background-color: $cor-2b;
        }
        &:after {
          transform: translateY(-8px) translateX(1px) rotate(-45deg);
          background-color: $cor-2b;
        }
      }
    }
    .logo {
      position: relative;
      z-index: 20;
      img {
        box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        &.logo-mobile {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
        }
        &.logo-desktop {
          position: relative;
          z-index: 10;
          transition: all 0.3s ease-out;
        }
      }
    }
    .menu {
      height: 60px;
      .menu-produtos-mobile {
        display: none;
      }
      .menu-produtos-desktop {
        display: block;
      }
      ul {
        width: 620px;
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: 0;
        padding: 0 15px;
        li {
          margin: 0 7px;
          a {
            padding: 6px 10px;
            display: block;
            text-transform: uppercase;
            font-size: 13px;
            color: #ffffff;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: rgba(255,255,255,0.8);
            }
          }
          &.btn-franchising {
            a {
              background-color: deeppink;
              border-radius: 20px;
            }
          }
          &.submenu {
            a {
              cursor: pointer;
            }
            &:hover {
              ul {
                display: block;
              }
            }
            position: relative;
            ul {
              display: none;
              position: absolute;
              padding: 16px 0;
              width: 130px;
              height: auto;
              li {
                display: block;
                background-color: #3c2525;
                margin: 0;
                a {
                  padding: 10px;
                }
                &.special {
                  background-color: $cor-3;
                }
              }
            }
          }
        }
      }
    }
    .search {
      height: 60px;
      position: relative;
      form {
        padding-top: 15px;
        input[type="text"] {
          padding-left: 10px;
          border: 0;
          border-radius: 25px;
          width: 135px;
          height: 30px;
          background-color: rgba(255,255,255,0.3);
          color: #ffffff;
        }
        input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: rgba(255,255,255,0.6);
        }
        input[type="text"]::-moz-placeholder { /* Firefox 19+ */
          color: rgba(255,255,255,0.6);
        }
        input[type="text"]:-ms-input-placeholder { /* IE 10+ */
          color: rgba(255,255,255,0.6);
        }
        input[type="button"],
        input[type="submit"] {
          cursor: pointer;
          background: url("/assets/site/img/ui/search.svg") no-repeat center 95%;
          background-size: 15px;
          color: transparent;
          border: none;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 18px;
          right: 8px;
          transition: opacity 0.2s ease-in-out;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .social {
      height: 60px;
      svg {
        width: 25px;
        height: 25px;
      }
      ul {
        margin: 0;
        padding: 20px 8px;
        display: flex;
        align-items: center;
        li {
          padding: 0 3px;
          position: relative;
          &:hover {
            #cbc-header-social-share {
              visibility: visible;
              opacity: 1;
            }
          }
          #cbc-header-social-share {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            z-index: 100;
            background-color: #ffffff;
            left: 0;
            top: 25px;
            width: 25px;
            padding: 0 3px 0 6px;
            transition: all 0.3s ease-in-out;
          }

          a {
            .icons {
              fill: #ffffff;
              transition: all 0.2s ease-in-out;
            }
            &:hover {
              .icons {
                fill: rgba(255,255,255,0.5);
              }
            }
          }
          &.ico-twitter {
            svg {
              width: 17px;
              height: 14px;
            }
          }
          &.ico-instagram {
            svg {
              width: 18px;
              height: 17px;
            }
          }
          &.ico-facebook {
            svg {
              width: 18px;
              height: 17px;
            }
          }
          &.ico-youtube {
            svg {
              width: 22px;
              height: 17px;
            }
          }
          &.ico-share {
            svg {
              width: 19px;
              height: 17px;
            }
          }
        }
      }
    }
    .franchising {
      position: absolute;
      top: 59px;
      right: 0;
    }
  }
}

@media only screen and (max-width:1100px) {
  #cbc-header {
    height: 54px;
    .container {
      width: 100%;
      a.menu-trigger {
        display: block;
      }
      .menu, .search, .social {
        display: none;
      }
      .menu {
        ul {
          .menu-produtos-mobile {
            display: block;
          }
          .menu-produtos-desktop {
            display: none;
          }
          li {
            text-align: center;
            &.submenu {
              ul {
                display: none;
                position: relative;
                width: 100%;
                padding: 0;
                li {
                  background-color: transparent;
                  width: auto;
                  text-align: center;
                }
              }
            }
          }
          .btn-franchising {
            a {
              display: inline-block;
              width: 200px;
              margin: 0 auto;
            }
            display: inline-block;
          }
        }
      }
      .logo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      .franchising {
        display: none;
      }
    }
  }
}

@media only screen and (max-width:990px) {
  #cbc-header {
    .container {
      .logo {
        height: 54px;
        .logo-desktop {
          display: none;
        }
        .logo-mobile {
          display: block;
          box-shadow: none;
        }
      }
    }
  }
}
