#marketing-contact {
  // background-color: #870410;
  padding: 45px 15px;
  background: url("/assets/marketing/natal-blackfriday-2019/img/noise.jpg") repeat center #870410;

  .loading {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/assets/site/img/loading.svg") no-repeat center rgba(95,63,42,0.9);
    z-index: 9999;
    transition: all 0.3s ease-out;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .container {
    max-width: 930px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media only screen and ( max-width: 640px ) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .btn-default {
      padding-left: 40px;
      padding-right: 40px;

      @extend .font-gotham-book;
    }

    .form {
      position: relative;
      width: 40%;
      padding: 0;

      @media only screen and ( max-width: 640px ) {
        margin-top: 20px;
        width: 100%;
      }
    }

    .hide-box {
      display:  none;
    }

    .box-warn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      h3 {
        @extend .font-gotham-thin;
        font-size: 22px;
        color: white;
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }

    .form-check {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        width: auto;
      }

      label {
        color: white;
        margin: 3px 0 0 10px;
      }
    }

    .form-field {
      input {
        box-shadow: none;
        line-height: 35px;
      }
    }

    button[type=submit] {
      @extend .font-gotham-thin;
      border-radius: 10px;
    }

    .content-block {
      width: 50%;

      @media only screen and ( max-width: 640px ) {
        width: 100%;
      }

      h2 {
        margin: 0;

        @extend .font-heart-maze;
        font-size: 40px;
        color: white;
      }

      p {
        @extend .font-gotham-book;
        font-size: 18px;
        color: white;

        line-height: 1.35em;

        &.notification {
          text-align: center;
        }
      }

      a, strong {
        font-weight: normal;
        color: white;
      }

      em {
        font-style: normal;
        color: $cor-3;
      }
    }

    .form-mensagem {
      width: 100%;
      margin-bottom: 60px;
      border-bottom: 1px solid $cor-4b;

      .form-default {
        margin: 0px;
      }

      .form-row {
        display: flex;
        justify-content: space-between;

        .form-field {
          width: 48%;
        }
      }

      .ct-esqueci-a-senha {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        .btn-esqueci-a-senha {
          border: none;

          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-4a;

          line-height: 1.35em;

          text-decoration: underline;
        }
      }

      .ct-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .btn-default {
          padding-left: 25px!important;
          padding-right: 25px!important;

          &.btn-full-size {
            width: 100%;
          }
        }

        .aviso {
          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-4a;

          line-height: 1.35em;

          margin-top: 20px;
        }
      }
    }

    .trabalhe-conosco {
      margin: 20px 28px 60px 80px;

      &>div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      p {
        padding-right: 20%;
      }

      .btn-default {
        margin-top: 18px;
      }
    }

    .sala-de-imprensa {
      .info-assessoria {
        line-height: 1.15em;

        strong {
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }

  }


}

@media only screen and (max-width:1100px) {
  #cbc-contact {
    padding-top: 55px;
    .form-default {
      .form-field {
        .select2-container--default {
          width: 100% !important;
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  #cbc-contact {
    padding-top: 0;
    .container {
      width: 85%;
      margin: 0 auto;
      .content-block {
        margin: 0;
        h1 {
          font-size: 65px;
        }
        h2 {
          font-size: 30px;
        }
        em {
          display: block;
          margin-bottom: 0;
        }
      }
      .form-mensagem {
        .form-row {
          .form-field {
            width: 100%;
          }

          .form-buttons {
            height: auto;
          }

          .btn-default {
            display: flex;
            align-items: center;
            justify-content: center;

            padding-left: 15px!important;
            padding-right: 15px!important;
          }
        }

        .form-default {
          margin: 0;
        }
        .ct-btn {
          .aviso {
            font-size: 14px;
            padding-right: 30px;
          }
        }
      }
      .trabalhe-conosco {
        &>div {
          flex-wrap: wrap;
        }
      }
      .sala-de-imprensa {
        .info-assessoria {
          strong {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:440px) {
  #cbc-contact {
    .container {
      .form-mensagem {
        .ct-btn {
          #form-show-signup, #form-show-signin {
            width: 58%;
          }
        }
      }
    }
  }
}
