#marketing-footer {
  position: relative;
  background-color: #1e0606;
  height: auto;
  border-bottom: 10px solid white;
  display: flex;
  align-items: center;

  .container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  small {
    white-space: nowrap;
  }

  p {
    @extend .font-gotham-book;
    padding: 10px 0;
    font-size: 12px;
    color: white;
    line-height: 12px;

    a {
      @extend .font-gotham-book;
      color: inherit;

      &:hover {
        color: rgba(255,255,255,.5);
      }
    }
  }

  .social {
    ul {
      a {
        .icons {
          fill: #9a5e2e;
        }
        &:hover {
          .icons {
            fill: rgba(255,255,255,1);
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1100px) {
  #marketing-footer {
    height: auto;
  }
}
