#marketing-header {
  box-shadow: inset 0 -35px 40px -15px rgba(0,0,0,0.5);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s linear;
  background-color: rgba(121,31,35,.3);

  &.compact {
    background-color: #3c2525;
    box-shadow: none;

    .container {
      .logo {
        height: 54px;

        .logo-desktop {
          opacity: 0;
        }
        .logo-mobile {
          display: block;
          box-shadow: none;
        }
      }
    }
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    .logo {
      position: relative;
      z-index: 20;

      img {
        box-shadow: 1px 1px 4px rgba(0,0,0,0.3);

        &.logo-mobile {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
        }
        &.logo-desktop {
          position: relative;
          z-index: 10;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}

@media only screen and (max-width:1100px) {
  #marketing-header {
    height: 54px;
    background-color: #3c2424;

    .container {
      width: 100%;

      .logo {
        width: 100px;
        height: 100px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width:990px) {
  #marketing-header {
    background-color: #3b2525;
    background-image: initial;
    box-shadow: initial;

    .container {
      .logo {
        height: 54px;
        .logo-desktop {
          display: none;
        }
        .logo-mobile {
          display: block;
          box-shadow: none;
        }
      }
    }
  }
}

@media only screen and (max-width:940px) {
  #marketing-header {
    position: relative;
  }
}

@media only screen and ( max-width: 440px ) {
  #marketing-header {
    position: absolute;
  }
}
