.marketing-home-natal {
  position: relative;
  height: 560px;
  background: url("/assets/marketing/natal-blackfriday-2019/img/background-home-desktop.jpg") no-repeat center top;
  overflow: hidden;

  .title {
    position: absolute;
    top: 0;
    left: 50%;
    animation: topBottom-desktop-natal 1s 1.5s cubic-bezier(0, 0, 0, 1.24) 1 forwards;
    opacity: 0;


    @media only screen and ( min-width: 941px ) {
      transform: translate(-170%,55%);

      img {
        width: 250px;
      }
    }

    @media only screen and ( max-width: 940px ) {
      transform: translate(-160%,25%);
      animation: topBottom-mobile 1s 1.5s cubic-bezier(0, 0, 0, 1.24) 1 forwards;

      img {
        width: 260px;
      }
    }

    @media only screen and ( max-width: 850px ) {
      transform: translate(-160%,25%);
      animation: initial;
      opacity: 1;

      img {
        width: 240px;
      }
    }
  }

  .panettone {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,28%);

    @media only screen and ( max-width: 940px ) {
      transform: translate( -50%, 30% );

      img {
        width: 440px;
      }
    }
  }

  .selo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(500%,100%);

    img {
      width: 75px;
    }

    @media only screen and ( max-width: 940px ) {
      transform: translate(300%,55%);

      img {
        width: 90px;
      }
    }
  }

  .papai-noel {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(390%,-55%);
  }

  .gatomia {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-170%,-20%);

    img {
      width: 170px;
    }
  }

  .piramides-left-2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-300%,-5%);
  }

  .piramides-left-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-560%,-35%);
  }

  .piramides-right-2 {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(375%,-40%);
  }

  .piramides-right-1 {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(340%,-5%);
  }
}

.marketing-home-default {
  position: relative;
  height: 560px;
  background: url("/assets/marketing/natal-blackfriday-2019/img/background-home-desktop.jpg") no-repeat center top;
  overflow: hidden;

  .title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-155%,105%);
    animation: topBottom-desktop-default 1s 1.5s cubic-bezier(0, 0, 0, 1.24) 1 forwards;
    opacity: 0;

    @media only screen and ( max-width: 940px ) {
      transform: translate(-160%,25%);
      animation: topBottom-mobile 1s 1.5s cubic-bezier(0, 0, 0, 1.24) 1 forwards;

      img {
        width: 260px;
      }
    }

    @media only screen and ( max-width: 850px ) {
      transform: translate(-160%,25%);
      animation: initial;
      opacity: 1;

      img {
        width: 240px;
      }
    }
  }

  .panettone {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,28%);

    @media only screen and ( max-width: 940px ) {
      transform: translate( -50%, 30% );

      img {
        width: 440px;
      }
    }
  }

  .selo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(500%,100%);

    img {
      width: 75px;
    }

    @media only screen and ( max-width: 940px ) {
      transform: translate(300%,55%);

      img {
        width: 90px;
      }
    }
  }

  .papai-noel {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(390%,-55%);

    @media only screen and ( max-width: 940px ) {
      transform: translate(385%,-85%);
    }
  }

  .gatomia {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-170%,-20%);

    img {
      width: 170px;
    }

    @media only screen and ( max-width: 940px ) {
      transform: translate(-115%,-20%);
    }
  }

  .piramides-left-2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-300%,-5%);
  }

  .piramides-left-1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-560%,-35%);
  }

  .piramides-right-2 {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(375%,-40%);
  }

  .piramides-right-1 {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(340%,-5%);
  }
}

@media only screen and ( min-width: 1919px ) {
  .marketing-home {
    background-size: 100% 100%;
  }
}

@media only screen and ( max-width: 768px ) {
  .marketing-home {
    height: 600px;
    background: url("/assets/marketing/natal-blackfriday-2019/img/background-home-mobile.jpg") no-repeat center top;
    background-size: 100% 100%;

    .title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate( -50%, 20% ); // default

      img {
        width: 293px; // default
      }
    }

    .panettone {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-60%,40%);

      img {
        width: 340px;
      }
    }

    .selo {
      position: absolute;
      top: 0;
      left: initial;
      right: 0;
      transform: translate(-65%,25%);

      img {
        width: 70px;
      }
    }

    .papai-noel {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(280%,-65%);
    }

    .gatomia {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-195%,-45%);

      img {
        width: 140px;
      }
    }

    .piramides-left-2,
    .piramides-left-1,
    .piramides-right-2,
    .piramides-right-1 {
      display: none;
    }
  }
}

@media only screen and ( max-width: 440px ) {
  .marketing-home-natal {
    height: 600px;
    background-size: cover;

    .title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate( -50%, 34% ); // natal

      img {
        width: 200px; // natal
      }
    }

    .panettone {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-60%,41%);

      img {
        width: 340px;
      }
    }

    .selo {
      position: absolute;
      top: 0;
      left: initial;
      right: 0;
      transform: translate(-40%,120%);

      img {
        width: 50px;
      }
    }

    .papai-noel {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(240%,-50%);

      img {
        width: 70px;
      }
    }

    .gatomia {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-160%,-33%);

      img {
        width: 125px;
      }
    }
  }

  .marketing-home-default {
    height: 600px;
    background-size: cover;

    .title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate( -50%, 55% ); // default

      img {
        width: 230px; // default
      }
    }

    .panettone {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-60%,41%);

      img {
        width: 340px;
      }
    }

    .selo {
      position: absolute;
      top: 0;
      left: initial;
      right: 0;
      transform: translate(-40%,120%);

      img {
        width: 50px;
      }
    }

    .papai-noel {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate(240%,-50%);

      img {
        width: 70px;
      }
    }

    .gatomia {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-160%,-33%);

      img {
        width: 125px;
      }
    }
  }
}

@keyframes topBottom-desktop-natal {
  0%   {
    transform: translate(-170%,-55%); // natal
  }
  10% {
    opacity: 0;
  }
  80% {
    transform: translate(-170%,56%); // natal
  }
  100% {
    opacity: 1;
    transform: translate(-170%,55%); // natal
  }
}

@keyframes topBottom-desktop-default {
  0%   {
    transform: translate(-155%, -50% ); // default
  }
  10% {
    opacity: 0;
  }
  80% {
    transform: translate(-155%,106%); // default
  }
  100% {
    opacity: 1;
    transform: translate(-155%,105%); // default
  }
}

@keyframes topBottom-mobile {
  0%   {
    transform: translate(-160%,-125%);
  }
  10% {
    opacity: 0;
  }
  80% {
    transform: translate(-160%,30%);
  }
  100% {
    opacity: 1;
    transform: translate(-160%,25%);
  }
}
