#marketing-store {
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid #471919;

  .container {
    max-width: 100%;
  }

  .sideBar {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 15px 20px;
    background: #471919;

    @media only screen and ( max-width: 440px ) {
      padding: 20px 15px 20px;
    }

    .box-search {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media only screen and ( max-width: 440px ) {
        flex-direction: column;
      }
    }

    .form-field {
      input {
        box-shadow: none;
      }
    }

    h3 {
      @extend .font-heart-maze;
      font-size: 24px;
      color: $cor-3b;
      margin: 7px 0 0;
      padding: 0;

      @media only screen and ( max-width: 440px ) {
        font-size: 18px;
        margin: 0 0 10px;
      }
    }

    .form-default {
      padding-bottom: 0;
      margin-left: 15px;
    }

    .form-field {
      height: auto;
      margin-bottom: 0;
    }

    input.search {
      background-image: url('../img/ui/search-color.svg');
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position: right 15px center;
    }

    .select2-selection__arrow {
      display: none;
    }

    .select2-selection__rendered {
      padding-right: 25px;
    }

    .select2-selection--single {
      background: none;
    }

    .select2-container--default {
      background-image: url('../img/ui/select-arrow.png');
      background-size: 8px 15px;
      background-repeat: no-repeat;
      background-position: right 15px center;
    }
  }

  #mapa-full {
    width: 100%;
    height: calc(100vh - 70px);
    max-height: 400px;

    #gmaps {
      width: 100%;
      height: 100%;

      .gm-style-iw {
        text-transform: capitalize;

        strong {
          display: block;
          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-3b;
          margin: 10px 0 10px 0;
        }

        .btn-rota {
          display: block;
          @extend .font-gotham-bold;
          font-size: 16px;
          margin: 10px 0 10px 0;

          &:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 10px;
            border: 6px solid transparent;
            border-left-color: $cor-1;
          }
        }
      }


    }
  }
}

@media only screen and (max-width:768px) {
  #marketing-store {
    #mapa-full {
      width: 100vw;
    }
  }

  footer#cbc-footer {
    z-index: 999999!important;
  }
}
