{% extends 'manager/modules/base.html.twig' %}

{% block title %}Tema{% endblock %}
{% block tagline %}Edição{% endblock %}

{% block body %}
	{{ form_start(edit_form) }}
	<div class="box box-primary">
		<div class="box-body">		
			<div class="form-group">
				{{ form_label(edit_form.pageBackgroundImage) }}
				<div class="col-sm-10">
					{% if theme.pageBackgroundImage and theme.pageBackgroundImage.filename and not (theme.pageBackgroundImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ theme.pageBackgroundImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ theme.pageBackgroundImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.pageBackgroundImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.pageBackgroundImage) }}</div>
			</div>
			<div class="form-group">
				{{ form_label(edit_form.textBackgroundImage) }}
				<div class="col-sm-10">
					{% if theme.textBackgroundImage and theme.textBackgroundImage.filename and not (theme.textBackgroundImage.filename ends with '.tmp') %}
					<a href="#" data-featherlight="{{ asset(image_upload_path ~ theme.textBackgroundImage.filename)|imagine_filter('manager_datatable_preview') }}">
						<img src="{{ asset(image_upload_path ~ theme.textBackgroundImage.filename)|imagine_filter('manager_mosaic_thumb') }}">
					</a>
					{% else %}
					Arquivo não disponível no servidor.
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">{{ form_widget(edit_form.textBackgroundImage) }}</div>
				<div class="col-sm-10 col-sm-offset-2 text-red">{{ form_errors(edit_form.textBackgroundImage) }}</div>
			</div>
			{{ form_widget(edit_form) }}
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_theme_index') }}">Voltar para listagem</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="Editar" />
					{{ form_end(edit_form) }}
				</div>			
				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>	
			</div>
		</div>		
	</div>
{% endblock %}

