{% extends 'site/modules/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block description %}Seja bem-vindo ao espaço da Chocolates Brasil Cacau e conheça a variedade de produtos e sabores. Adoce ainda mais a sua vida com nossos chocolates!{% endblock %}

{% block body %}
  <div id="cbc-home">
    {#BANNER#}
    {% if banners %}
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for banner in banners %}
        <div class="swiper-slide">
          <a href="{{ banner.url ?? '#' }}" class="banner-link">
            <img class="desktop" src={{ asset(image_upload_path ~ banner.desktopImage) }}>
            <img class="mobile" src={{ asset(image_upload_path ~ (banner.mobileImage ?? banner.desktopImage)) }}>
          </a>
        </div>
        {% endfor %}
      </div>

      {% if banners|length > 1 %}
      <div class="swiper-pagination"></div>
      {% endif %}
    </div>
    {% endif %}

    {#SECTION1#}
    <section class="trufas">
      <div class="bg jarallax" data-jarallax data-speed="0.2">
        <img class="jarallax-img" src="{{ asset('assets/site/img/home/sc1_effect.jpg') }}" alt="Trufas">
      </div>
      <div class="content">
        <div class="text">
          <p>Deliciosas e com recheio cremoso.<br/>
            Uma variedade de sabores irresistíveis!</p>
          <a class="btn-default" href="{{ path('site_product_category', { 'slug': 'trufas' }) }}">Veja mais</a>
        </div>
        <img class="set1" data-jarallax-element="-30 -30" src="{{ asset('assets/site/img/home/sc1_1.png') }}" alt="Trufa">
        <img class="set2" data-jarallax-element="-70 -30" src="{{ asset('assets/site/img/home/sc1_2.png') }}" alt="Trufa">
        <img class="set3" data-jarallax-element="-130 30" src="{{ asset('assets/site/img/home/sc1_3.png') }}" alt="Trufa">
        <img class="set4" data-jarallax-element="-250 30" src="{{ asset('assets/site/img/home/sc1_4.png') }}" alt="Trufa">
        <img class="set5" data-jarallax-element="-180 30" src="{{ asset('assets/site/img/home/sc1_5.png') }}" alt="Trufa">
      </div>
    </section>

    {#SECTION2#}
    <section class="tablets">
      <div class="bg jarallax" data-jarallax data-speed="0.2">
        <img src="{{ asset('assets/site/img/home/sc2_effect.jpg') }}" alt="Tablets" class="jarallax-img">
      </div>
      <div class="content">
        <div class="text">
          <p>Em deliciosas versões: recheadas,<br/>
            crocantes, diet e zero lactose.</p>
          <a class="btn-default" href="{{ path('site_product_category', { 'slug': 'tabletes' }) }}">Veja mais</a>
        </div>
        <img class="set1" data-jarallax-element="-130 -30" src="{{ asset('assets/site/img/home/sc2_1.png') }}" alt="Tablets">
        <img class="set2" data-jarallax-element="-80 -30" src="{{ asset('assets/site/img/home/sc2_2.png') }}" alt="Tablets">
        <img class="set3" data-jarallax-element="-150 30" src="{{ asset('assets/site/img/home/sc2_3.png') }}" alt="Tablets">
        <img class="set4" data-jarallax-element="-60 30" src="{{ asset('assets/site/img/home/sc2_4.png') }}" alt="Tablets">
      </div>
    </section>

    {#SECTION3#}
    <section class="presentes">
      <div class="bg jarallax" data-jarallax data-speed="0.2">
        <img src="{{ asset('assets/site/img/home/sc3_effect.jpg') }}" alt="Presentes" class="jarallax-img">
      </div>
      <div class="content">
        <div class="text">
          <p>Perfeitos para<br/>
            quem você ama</p>
          <a class="btn-default" href="{{ path('site_product_category', { 'slug': 'presentes' }) }}">Veja mais</a>
        </div>
        <img class="set1" data-jarallax-element="-50 -30" src="{{ asset('assets/site/img/home/sc3_1.png') }}" alt="Presentes">
        <img class="set2" data-jarallax-element="-120 -30" src="{{ asset('assets/site/img/home/sc3_2.png') }}" alt="Presentes">
        <img class="set3" data-jarallax-element="-160 30" src="{{ asset('assets/site/img/home/sc3_3.png') }}" alt="Presentes">
        <img class="set4" data-jarallax-element="-80 30" src="{{ asset('assets/site/img/home/sc3_4.png') }}" alt="Presentes">
        <img class="set5" data-jarallax-element="-180 30" src="{{ asset('assets/site/img/home/sc3_5.png') }}" alt="Presentes">
      </div>
    </section>

    {#SECTION4#}
    <section class="cafezinho">
      <div class="bg jarallax" data-jarallax data-speed="0.2">
        <img src="{{ asset('assets/site/img/home/sc1_effect.jpg') }}" alt="Cafezinho" class="jarallax-img">
      </div>
      <div class="content">
        <div class="text">
          <img src="{{ asset('assets/site/img/home/sc4_tlt.png') }}" alt="Cafezinho">
          <p class="color3">Delícias irresistíveis para<br/>
            qualquer hora do dia.</p>
          <a class="btn-default color3" href="{{ path('site_product_category', { 'slug': 'cafeteria' }) }}">Veja mais</a>
        </div>
        <img class="set1" data-jarallax-element="-50 -30" src="{{ asset('assets/site/img/home/sc4_1.png') }}" alt="Cafezinho">
        <img class="set2" data-jarallax-element="-120 -30" src="{{ asset('assets/site/img/home/sc4_2.png') }}" alt="Cafezinho">
        <img class="set3" data-jarallax-element="-160 -30" src="{{ asset('assets/site/img/home/sc4_3.png') }}" alt="Cafezinho">
        <img class="set4" data-jarallax-element="-180 30" src="{{ asset('assets/site/img/home/sc4_4.png') }}" alt="Cafezinho">
        <img class="set5" data-jarallax-element="-80 30" src="{{ asset('assets/site/img/home/sc4_5.png') }}" alt="Cafezinho">
        <img class="set6" data-jarallax-element="-50 30" src="{{ asset('assets/site/img/home/sc4_6.png') }}" alt="Cafezinho">
      </div>
    </section>

    {#SECTION5#}
    <section class="acessorios">
      <div class="bg jarallax" data-jarallax data-speed="0.2">
        <img src="{{ asset('assets/site/img/home/sc5_effect.jpg') }}" alt="Acessórios" class="jarallax-img">
      </div>
      <div class="content">
        <div class="text">
          <p class="color2b">Combinação ideal para<br/>
            seu chocolate preferido</p>
          <a class="btn-default color4" href="{{ path('site_product_category', { 'slug': 'acessorios' }) }}">Veja mais</a>
        </div>
        <img class="set1" data-jarallax-element="-60 -30" src="{{ asset('assets/site/img/home/sc5_1.png') }}" alt="Acessórios">
        <img class="set2" data-jarallax-element="-80 30" src="{{ asset('assets/site/img/home/sc5_2.png') }}" alt="Acessórios">
        <img class="set3" data-jarallax-element="-75 30" src="{{ asset('assets/site/img/home/sc5_3.png') }}" alt="Acessórios">
      </div>
    </section>

    {#SECTION6#}
    <section class="franchising">
      <div class="bg jarallax" data-jarallax data-speed="0.2">
        <img src="{{ asset('assets/site/img/home/sc2_effect.jpg') }}" alt="Franquias" class="jarallax-img">
      </div>
      <div class="content">
        <div class="text">
          <h3 data-jarallax-element="40 0">Seja um franqueado<br/>
            Chocolates Brasil Cacau</h3>
          <img data-jarallax-element="-40 0" data-threshold="150" src="{{ asset('assets/site/img/ilustracao-franquia.png') }}" alt="">
          <div class="division" data-jarallax-element="60 0">
            <p>Faça parte do Grupo CRM, detentor das marcas
              Kopenhagen e Chocolates Brasil Cacau com
              know-how na administração de franquias e
              referência no mercado brasileiro de chocolates.</p>
            <p>Preencha a ficha de pré-qualificação disponivel em nosso site e participe do processo seletivo.</p>
            <a class="btn-default color3" href="http://franquia.chocolatesbrasilcacau.com.br/">Seja um franqueado</a>
          </div>
        </div>
      </div>
    </section>

  </div>
{% endblock %}

{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ asset('/assets/site/vendor/swiper/css/swiper.min.css') }}">
{% endblock %}

{% block scripts %}
  <script src="{{ asset('/assets/site/vendor/swiper/js/swiper.min.js') }}"></script>
  <script type="text/javascript">
    (function ($, window, document, undefined) {
      $(function () {
        General.init();
        Home.init();
      });
    })(jQuery, window, document);
  </script>
{% endblock %}
