{% extends 'site/modules/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block description %}Conecte-se conosco através de nossos canais digitais.{% endblock %}

{% block body %}
  <div id="cbc-about">
    <section class="info">
      <div class="container">
        <header class="content-block">
          <p style="display: block; text-align: center;">Conecte-se conosco através de nossos canais digitais nos links abaixo:</p>
        </header>

        <ul class="content-block quick-links">
          <li>
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=+5511988674993&text=" target="_blank" class="btn-whatsapp" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'whatsapp'});">Whatsapp Lojas Online</a>
          </li>

          <li>
            <a href="https://loja.chocolatesbrasilcacau.com.br" target="_blank" class="btn-ecommerce" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'ecommerce'});">E-commerce</a>
          </li>

          <li>
            <a href="https://rappi.onelink.me/aeJ0/a078d2e1" target="_blank" class="btn-rappi" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'rappi'});">Rappi</a>
          </li>

          <li>
            <a href="https://ifoodbr.onelink.me/F4X4/brasilcacau" target="_blank" class="btn-ifood" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'ifood'});">iFood</a>
          </li>

          <li>
            <a href="tel:+08007700201" target="_blank" class="btn-fale-conosco" onclick="gtag('event', 'clicou', { 'event_category' : 'botao', 'event_label' :'fale_conosco'});">Fale Conosco</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    (function ($, window, document, undefined) {
      $(function () {
        General.init();
        Rule.init();
      });

    })(jQuery, window, document);
  </script>
{% endblock %}
