{% extends 'site/modules/base.html.twig' %}

{% block title %}Quem Somos{% endblock %}
{% block description %}A Chocolates Brasil Cacau é uma marca jovem, moderna e descolada. Com mais de 500 lojas em todo o país e um delicioso portfólio de produtos, a rede oferece.{% endblock %}

{% block body %}
    <div id="cbc-about">
        <section class="info">
            <div class="container">
                <header class="content-block">
                    <h1>Quem somos</h1>
                </header>
                <div class="content-block sobre">
                    <h2>Chocolates Brasil Cacau</h2>
                    <h3>Qualidade e sabor a preço acessível</h3>
                    <p>A Chocolates Brasil Cacau é uma marca jovem, divertida e moderna. Com mais de 380 lojas em todo o país e um delicioso portfólio de produtos, a rede oferece aos clientes uma experiência incrível: chocolates deliciosos com qualidade, preços acessíveis e atendimento caloroso.</p>
                    <p class="picture store"><img src="{{ asset('/assets/site/img/about/loja.png') }}"></p>
                    <p>Os principais destaques da marca são os mais de 30 sabores de Trufas e Minitrufas, Dinda, Gato Mia e Tabletes. Em 10 anos no mercado já produzimos trufas o suficiente para encher mais de três piscinas olímpicas!</p>
                    <p>Além dos chocolates, grande parte das lojas oferece o serviço de cafeteria - com expresso, capuccino e chocolate quente, entre outros - e o surpreendente fondue de chocolate com frutas frescas.</p>
                    <p>Ao lado das marcas Kopenhagen e Lindt, a Brasil Cacau faz parte do Grupo CRM, que tem grande expertise em chocolates premium. Hoje ocupa a 19a. posição no ranking das maiores empresas de franchising no país. Localizada em Extrema (MG), a fábrica do grupo ocupa uma área de 33 mil metros quadrados, com mais de 1.100 colaboradores e tecnologia de ponta na produção de chocolates.</p>
                </div>
                <div class="content-block missao">
                    <h2>Missão</h2>
                    <p>Acreditar e proporcionar felicidade. Promover a diversidade, a liberdade e valorizar as pessoas, refletindo nossa cultura popular com respeito e sabedoria, por meio de toda linha de produtos.</p>
                </div>
                <div class="content-row">
                    <div class="content-block visao">
                        <h2>Visão</h2>
                        <p>Ser uma marca com espírito de liderança, que promete um forte e arrojado crescimento para atender com originalidade e de forma democrática todos os brasileiros, oferecendo produtos de qualidade a preços acessíveis.</p>
                    </div>
                    <div class="content-block valores">
                        <h2>Valores</h2>
                        <p>
                            <ul>
                                <li>Felicidade</li>
                                <li>Marca democrática</li>
                                <li>Diversidade</li>
                                <li>Entusiasmo</li>
                                <li>Jovialidade</li>
                                <li>Qualidade</li>
                                <li>Preços acessíveis</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="content-block fabrica">
                    <p class="picture factory"><img src="{{ asset('/assets/site/img/about/fabrica.jpg') }}"></p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function ($, window, document, undefined) {
            $(function () {
                General.init();
            });

        })(jQuery, window, document);
    </script>
{% endblock %}
