{% extends 'site/modules/base.html.twig' %}

{% block title %}Política de Privacidade{% endblock %}
{% block description %}Nossa política de privacidade visa assegurar a garantia de que, quaisquer informações relativas aos usuários, não serão fornecidas, publicadas ou comercial.{% endblock %}

{% block body %}
    <div id="cbc-about">
        <section class="info">
            <div class="container">
                <header class="content-block">
                    <h1>Política de Privacidade</h1>
                    <p>Nossa política de privacidade visa assegurar a garantia de que, quaisquer informações relativas aos usuários, não serão fornecidas, publicadas ou comercializadas em quaisquer circunstâncias. A <strong>Chocolates Brasil Cacau</strong> obtém informações dos usuários de duas maneiras: cadastro e cookies.</p>
                    <p>Todos os dados pessoais informados ao nosso site são armazenados em um banco de dados reservado e com acesso restrito a alguns funcionários habilitados, que são obrigados, por contrato, a manter a confidencialidade das informações e não utilizá-las inadequadamente. Este site pertence à <strong>Chocolates Brasil Cacau</strong>, que possui a seguinte política em relação ao tratamento de dados pessoais:</p>
                </header>
                <div class="content-block">
                    <h2>Cadastro</h2>
                    <p>Para usufruir dos benefícios adicionais do site e receber o email com Ofertas Exclusivas, você precisa se cadastrar no site <strong>Chocolates Brasil Cacau</strong>. Este cadastro é armazenado em um banco de dados protegido e sigiloso. Qualquer comunicação enviada para seu e-mail será através do boletim periódico do site <strong>Chocolates Brasil Cacau</strong>. Seu email não será divulgado.</p>
                </div>
                <div class="content-block">
                    <h2>Cookies</h2>
                    <p>A <strong>Chocolates Brasil Cacau</strong> coleta informações através de cookies (informações enviadas pelo servidor da <strong>Chocolates Brasil Cacau</strong> ao computador do usuário, para identificá-lo). Os cookies servem unicamente para controle interno de audiência e de navegação, jamais para controlar, identificar ou rastrear preferências do internauta, exceto quando este desrespeitar alguma regra de segurança ou exercer alguma atividade prejudicial ao bom funcionamento do site, como por exemplo, tentativas de hackear o serviço. A aceitação dos cookies pode ser livremente alterada na configuração de seu navegador.</p>
                </div>
                <div class="content-block">
                    <h2>Dados Pessoais</h2>
                    <p>A <strong>Chocolates Brasil Cacau</strong> não vende, não aluga, nem torna de outro modo disponível a terceiros, qualquer dado pessoal (nome, endereço, número de telefone e/ou fax e e-mail) enviado pelos utilizadores do nosso site. Usaremos a sua informação pessoal somente no interior da <strong>Chocolates Brasil Cacau</strong> ou com parceiros de negócios, que tenham concordado em mantê-los confidenciais.</p>
                    <p>Esta informação não será utilizada para o envio de material promocional ou de outro tipo, a não ser que previamente tenhamos informado-lhe desta utilização e que tenha consentido expressamente para tal. Neste caso, a <strong>Chocolates Brasil Cacau</strong> utilizará esta informação para o envio de publicações ou outra correspondência, envio de “press-releases” ou notificações por e-mail e entrega de mercadorias ou prêmios.</p>
                    <p>O usuário garante a veracidade e exatidão dos dados pessoais que fornecer neste Portal, pelo que assume a correspondente responsabilidade. Não assumimos qualquer responsabilidade no caso da inexatidão dos dados pessoais introduzidos pelo usuário neste Portal, omissão de informação relevante, ou inserção de dados falsos que possam induzir em erro sobre o usuário.</p>
                    <p>É de responsabilidade do usuário a guarda de sua senha e de seu login de acesso. Não é adequada a utilização de senhas óbvias, como datas especiais, nomes ou sequencias numéricas. Caso o usuário tome conhecimento ou apenas suspeite que sua senha foi descoberta, ele deverá alterá-la em sua página de cadastro.</p>
                </div>
                <div class="content-block">
                    <h2>Dados Não Pessoais</h2>
                    <p>A <strong>Chocolates Brasil Cacau</strong> utiliza a informação estatística não pessoalmente identificável (do gênero “browser”, local geográfico, faixa etária, sexo) com o intuito de otimizar os sites, como parte do processo de revisão interna contínua, como também para conhecer melhor os consumidores dos seus produtos.</p>
                    <p>A <strong>Chocolates Brasil Cacau</strong> utiliza as tecnologias de pesquisa (“Cookies”), visando unicamente melhorar os seus domínios (sites), para corresponder de maneira mais adequada às expectativas dos utilizadores.</p>
                </div>
                <div class="content-block">
                    <h2>Definição de Cookie</h2>
                    <p>O Cookie é uma pequena parte de texto que fica armazenada no disco rígido do seu computador, caso não seja apagada (ou que expire o seu prazo). Ele não é um programa de computador e não prejudica os dados do seu PC.</p>
                </div>
                <div class="content-block">
                    <h2>Significado</h2>
                    <p>Ao marcar o seu caminho, ele pode ajudar o fornecedor do site a otimizá-lo, tendo como princípio os caminhos ou páginas mais utilizados/visitados. Possibilita ao fornecedor do site organizar um perfil dos seus hábitos particulares. Contudo, cabe lembrar que o fornecedor do site só passa a ter informação pessoal identificável, se você a fornecer. As crianças e jovens menores de 18 anos deverão obter autorização dos pais ou tutores antes de emitirem dados pessoais aos sites da <strong>Chocolates Brasil Cacau</strong>.</p>
                </div>
                <div class="content-block">
                    <h2>Direitos Autorais</h2>
                    <p>Todo o conteúdo, marcas ou quaisquer direitos de propriedade intelectual mencionados neste site pertencem à <strong>Chocolates Brasil Cacau</strong>.</p>
                    <p>A reprodução para uso pessoal é permitida, porém são proibidos modificação, cópia, empréstimo, transmissão e radiodifusão não autorizados. O material originário deste site não pode ser comercializado ou de distribuído com fins lucrativos.</p>
                    <p>Os links nos sites <strong>Chocolates Brasil Cacau</strong> podem conduzi-lo a outros sites. A <strong>Chocolates Brasil Cacau</strong> não se responsabiliza pelo conteúdo, exatidão ou função desses sites. As conexões são fornecidas em boa-fé e a <strong>Chocolates Brasil Cacau</strong> não se responsabiliza por qualquer alteração subsequente nos sites aos quais está conectada.</p>
                </div>
                <div class="content-block">
                    <h2>Política de Privacidade</h2>
                    <p>A <strong>Chocolates Brasil Cacau</strong> e suas associadas ou qualquer parte envolvida na criação, produção ou distribuição deste site, não serão responsáveis por quaisquer danos, custos, perdas ou obrigações diretas, incidentais, consequentes, indiretas ou punitivas resultantes de seu acesso ou uso deste site.</p>
                    <p>A <strong>Chocolates Brasil Cacau</strong> não será responsável por qualquer dano ou vírus que possa infectar seu computador ou outros equipamentos pelo uso, acesso ou transferência de qualquer material deste site. Algumas jurisdições podem não fornecer determinadas limitações de garantias ou danos. Dessa forma, algumas das exclusões acima podem não ser aplicáveis a você.</p>
                    <p>Alguns detalhes pessoais enviados aos sites da <strong>Chocolates Brasil Cacau</strong> estão sujeitos à sua política de proteção e privacidade de dados pessoais.</p>
                    <p>A <strong>Chocolates Brasil Cacau</strong> entende que toda a informação que lhe é fornecida através da Internet (incluindo observações, sugestões, ideias, receitas, gráficos, etc.) se tornará e permanecerá de sua exclusiva propriedade com direitos irrestritos ao seu uso, sem qualquer compensação à você ou à outra pessoa. Adicionalmente, qualquer informação deste tipo não será por ela tratada como confidencial.</p>
                </div>
                <div class="content-block">
                    <h2>Segurança da Informação</h2>
                    <p>A <strong>Chocolates Brasil Cacau</strong> lembra que os dados de identificação pessoal são mantidos de maneira segura. Somente os funcionários autorizados da <strong>Chocolates Brasil Cacau</strong>, seus parceiros ou agentes (mediante acordo de confidencialidade) têm acesso aos dados de identificação pessoal.</p>
                    <p>Saliente-se que esta política de privacidade pode ser modificada periodicamente.</p>
                    <p>Esta Política está regida pelas leis brasileiras e deve ser interpretada no idioma português. Qualquer situação de conflito que não puder ser solucionada em uma negociação amigável, deverá ser dirimida preferencialmente no Foro Central de São Paulo.</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function ($, window, document, undefined) {
            $(function () {
                General.init();
            });

        })(jQuery, window, document);
    </script>
{% endblock %}
