{% extends 'site/modules/base.html.twig' %}

{% block title %}Política de Privacidade{% endblock %}
{% block description %}Nossa política de privacidade visa assegurar a garantia de que, quaisquer informações relativas aos usuários, não serão fornecidas, publicadas ou comercial.{% endblock %}

{% block body %}
  <div id="cbc-about">
    <section class="info">
      <div class="container">
        <header class="content-block">
          <h1>Regulamento</h1>
          <p style="display: block;">Confira aqui o regulamento completo das promoções vigentes.</p>
          <p style="padding-top: 35px; text-align: center; display: none;">No momento não há nenhuma campanha vigente.</p>
        </header>
        <div class="content-block perguntas-frequentes">
          <h2>Promoções</h2>

          <dl>
            {% if "now"|date('Y-m-d') >= "08-03-2021"|date('Y-m-d') and "now"|date('Y-m-d') <= "08-03-2021"|date('Y-m-d') %}
            <dt>REGULAMENTO DA PROMOÇÃO DIA INTERNACIONAL DAS MULHERES</dt>
            <dd>
              <p style="margin-top: 0;"><strong>“20% DE DESCONTO NOS ITENS SELECIONADOS”</strong></p>
              <p><strong>1.</strong> Esta Promoção é promovida pela <strong>CRM INDUSTRIA E COMERCIO DE ALIMENTOS LTDA</strong> (“<strong>CRM</strong>”), pessoa jurídica de direito privado, inscrita no CNPJ/MF sob o nº 61.158.283/0171-64, detentora da marca Chocolates Brasil Cacau.</p>
              <p><strong>2.</strong> Esta Promoção perdurará somente no dia 08/03  (“Período de Vigência”) ou enquanto durarem os estoques das <strong>LOJAS PARTICIPANTES, RAPPI, JAMES, IFOOD e E-COMMERCE</strong>.</p>
              <p><strong>2.</strong> Esta Promoção é destinada exclusivamente às pessoas físicas, que, na compra de qualquer um dos <strong>PRODUTOS PARTICIPANTES</strong>, no período da promoção, o cliente ganhará 20% de desconto.</p>
              <p><strong>3.</strong> A título exemplificativo, a promoção acontecerá da seguinte forma:</p>
              <p>i) Na compra de 1 ou mais unidades dos <strong>PRODUTOS PARTICIPANTES</strong>, o consumidor ganhará 20% de desconto. </p>
              <p><strong>4.</strong> Fica esclarecido que será considerado como <strong>PRODUTO PARTICIPANTE</strong> os seguintes produtos das linhas descritas abaixo:</p>
              <p>I. 1202017301 BOMBONS LICOR CEREJA</p>
              <p>II. 1202008501 ROSAS DE CHOCOLATE</p>
              <p>III. 1202008701 CAIXA CORAÇÕES 80G</p>
              <p>IV. 1203008101 CAIXA AMORES 93G</p>
              <p>4.1  Não se considera como <strong>PRODUTO PARTICIPANTE</strong>, para os fins desta promoção, os produtos não listados acima.</p>
              <p><strong>5.</strong> Esta Promoção não se enquadra nas modalidades de distribuição gratuita de prêmios dispostas na Lei nº. 5.768/71, no Decreto nº. 70.951/72, na Nota Informativa SEI nº 11/2018/COGPS/SUFIL/SEFEL-MF e respectiva regulamentação, não se sujeitando, portanto, aos seus termos, inclusive no que se refere à necessidade de obtenção de autorização prévia.</p>
            </dd>

            {% endif %}
          </dl>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    (function ($, window, document, undefined) {
      $(function () {
        General.init();
        Rule.init();
      });

    })(jQuery, window, document);
  </script>
{% endblock %}
