{% extends 'manager/modules/base.html.twig' %}

{% block title %}Informações do Produto{% endblock %}
{% block tagline %}Detalhes{% endblock %}

{% block body %}
	<div class="box box-primary">
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">Id</th>
						<td>{{ product_info.id }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Nome</th>
						<td>{{ product_info.title }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Ingredientes</th>
						<td>{{ product_info.ingredients }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Informações nutricionais</th>
						<td>{{ product_info.nutritionfacts }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Ativo</th>
						<td>{% if product_info.isActive %}Sim{% else %}Não{% endif %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_product_info_index') }}">Voltar para listagem</a>
					
				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('manager_product_info_edit', { 'id': product_info.id }) }}">Editar</a>
				</div>		

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>					
			</div>
		</div>
	</div>
{% endblock %}

