{% extends 'site/modules/base.html.twig' %}

{% block title %}{{ category.text }} {% endblock %}
{% block description %}{{ category.description|striptags }} {% endblock %}

{% block body %}
  <div id="cbc-categories">
    <section class="bg-top jarallax" data-jarallax data-speed="0.2">
      <img src="{{ asset('%s%s'|format(image_upload_path, category.pageBackgroundImage)) }}" alt="{{ category.text }}" class="jarallax-img">
    </section>
    <section class="category" style="background: url( {{ asset('%s%s'|format(image_upload_path, category.textBackgroundImage)) }} ) #5F3F2A;">
      <header>
        <h1 style="background: url( {{ asset('%s%s'|format(image_upload_path, category.titleBackgroundImage)) }} )">{{ category.text }}</h1>
        {% if category.bottomLeftParallaxImage %}<img class="set1" data-jarallax-element="-130" src="{{ asset('%s%s'|format(image_upload_path, category.bottomLeftParallaxImage)) }}" alt="{{ category.text }}">{% endif %}
        {% if category.topLeftParallaxImage %}<img class="set2" data-jarallax-element="-170" src="{{ asset('%s%s'|format(image_upload_path, category.topLeftParallaxImage)) }}" alt="{{ category.text }}">{% endif %}
        {% if category.topRightParallaxImage %}<img class="set3" data-jarallax-element="-150" src="{{ asset('%s%s'|format(image_upload_path, category.topRightParallaxImage)) }}" alt="{{ category.text }}">{% endif %}
        {% if category.bottomLeftParallaxImage %}<img class="set4" data-jarallax-element="-120" src="{{ asset('%s%s'|format(image_upload_path, category.bottomRightParallaxImage)) }}" alt="{{ category.text }}">{% endif %}
        <p class="description" style="color: {{ category.textColor }}">{{ category.description }}</p>
      </header>

      <div class="container">
        <hr>
        <ul class="products">
          {% for product in products %}
          <li>
            <a href="{{ path('site_product_show', {'slug': product.slug}) }}">
              <img class="thumb" src="{{ asset('%s%s'|format(image_upload_path, product.desktopImage))|imagine_filter('site_product_reduced') }}">
              <p style="color: {{ category.textColor }}">{{ product.name|striptags }}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <section class="bg-bottom jarallax" data-jarallax data-speed="0.2">
      <img src="{{ asset('%s%s'|format(image_upload_path, category.pageBackgroundImage)) }}" alt="{{ category.text }}" class="jarallax-img">
    </section>
  </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    (function ($, window, document, undefined) {
      $(function () {
        General.init();
      });
    })(jQuery, window, document);
  </script>
{% endblock %}
