{% extends 'site/modules/base.html.twig' %}

{% block title %}Produtos{% endblock %}
{% block description %}Seja bem-vindo ao espaço da Chocolates Brasil Cacau e conheça a variedade de produtos e sabores. Adoce ainda mais a sua vida com nossos chocolates!{% endblock %}

{% block body %}

  <div id="cbc-categories" class="category-list">
    <section class="bg-top jarallax" data-jarallax data-speed="0.2">
      <img src="{{ asset('/assets/site/img/produtos/trufas/bg-category.jpg') }}" alt="Trufas" class="jarallax-img">
    </section>
    <section class="category">
      <header>
        <h1>Produtos</h1>
      </header>

      <div class="container">

        <div class="col">
          <h2>Por categoria:</h2>
          <ul>
            {% for category in categories %}
              <li><a href="{{ path('site_product_category', { 'slug': category.slug }) }}">{{ category.text }}</li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </section>
    <section class="bg-bottom jarallax" data-jarallax data-speed="0.2">
      <img src="{{ asset('/assets/site/img/produtos/trufas/bg-category.jpg') }}" alt="Trufas" class="jarallax-img">
    </section>
  </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    (function ($, window, document, undefined) {
      $(function () {
        General.init();
      });
    })(jQuery, window, document);
  </script>
{% endblock %}