{% extends 'site/modules/base.html.twig' %}

{% block title %}Repositório{% endblock %}
{% block description %}Repositório de imagens de produtos.{% endblock %}

{% block body %}

  <div id="cbc-categories" class="search">
    <section class="bg-top jarallax" data-jarallax data-speed="0.2">
      <img src="{{ asset('/assets/site/img/produtos/trufas/bg-category.jpg') }}" alt="Busca" class="jarallax-img">
    </section>
    <section class="category" style="background: url( {{ asset('/assets/site/img/produtos/trufas/bg-content.jpg') }} )">
      <header>
        <h1>Repositório</h1>
        <p class="description">Listagem imagens de produtos para download.</p>
      </header>
      {% if products %}
      <div class="container">
        <hr>
        <ul class="products">
          {% for product in products %}
          <li>
            <a href="{{ asset('%s%s'|format(image_upload_path, product.desktopImage)) }}" download>
              <img class="thumb" src="{{ asset('%s%s'|format(image_upload_path, product.desktopImage))|imagine_filter('site_product_reduced') }}">
              <p>{{ product.name|striptags }}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
    <section class="bg-bottom jarallax" data-jarallax data-speed="0.2">
      <img src="{{ asset('/assets/site/img/produtos/trufas/bg-category.jpg') }}" alt="Busca" class="jarallax-img">
    </section>
  </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    (function ($, window, document, undefined) {
      $(function () {
        General.init();
      });
    })(jQuery, window, document);
  </script>
{% endblock %}