{% extends 'site/modules/base.html.twig' %}

{% block title %}{{ product.name|striptags }}{% endblock %}
{% block description %}{{ product.description|striptags }}{% endblock %}

{% block body %}
 <div id="cbc-product">
    <section class="product {{ product.theme.slug }}">
      <div class="jarallax bg-top" data-jarallax data-speed="0.2">
        <picture style="background-image: url({{ asset('%s%s'|format(image_upload_path, product.theme.pageBackgroundImage)) }})" class="jarallax-img"></picture>
      </div>
      <div class="content">
        <div class="details">
            <img class="picture desktop" src="{{ asset('%s%s'|format(image_upload_path, product.desktopImage))|imagine_filter('site_product_detail') }}">
            <img class="picture mobile" src="{{ asset('%s%s'|format(image_upload_path, product.mobileImage ?? product.desktopImage))|imagine_filter('site_product_detail') }}">
            <h3>{{ product.name|striptags  }}</h3>
            {% if product.netWeight %}
            <small class="weight">Peso Líq. {{ product.netWeight }}</small>
            {% endif %}
            <p class="description">{{ product.description|replace({'Imagem ilustrativa.': '', 'Imagem ilustrativa': ''})|raw }}</p>
            <small class="picture-warning">Imagem ilustrativa.</small>
            <a class="btn-default btn-loja" href="{{ path('site_store_index') }}">Loja mais próxima</a>
        </div>
        {% if product.productInfos|length > 0 %}
        <div class="information">
            <div class="ingredients">
                <h4>Ingredientes</h4>
                <dl>
                    {% for info in product.productInfos %}
                    {% if product.productInfos|length > 1 %}<dt>{{ info.title }}</dt>{% endif %}
                    <dd>{{ info.ingredients|raw }}</dd>
                    {% endfor %}
                </dl>
            </div>
            <div class="nutritional">
                <h4>Informações Nutricionais</h4>
                <dl>
                    {% for info in product.productInfos %}
                    <dt>{{ info.title }}</dt>
                    <dd>{{ info.nutritionfacts|raw }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
        {% endif %}
        {% if product.relatedProducts|length > 0 %}
        <div class="related">
            <h4>Veja Também:</h4>
            <ul>
                {% for relatedProduct in product.relatedProducts %}
                <li>
                    <a href="{{ path('site_product_show', {'slug': relatedProduct.slug}) }}">
                        <img class="thumb" src="{{ asset('%s%s'|format(image_upload_path, relatedProduct.desktopImage))|imagine_filter('site_product_thumb') }}">
                        <p>{{ relatedProduct.name|striptags }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
      </div>
      <div class="jarallax bg-bottom" data-jarallax data-speed="0.2">
        <picture style="background-image: url({{ asset('%s%s'|format(image_upload_path, product.theme.pageBackgroundImage)) }})" class="jarallax-img"></picture>
      </div>      
    </section>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function ($, window, document, undefined) {
            $(function () {
                General.init();
                Product.init();
            });
        })(jQuery, window, document);
    </script>
{% endblock %}