#cbc-about {
  min-height: calc(100vh - 80px);
  padding-top: 60px;
  overflow: auto;
  background: url("/assets/site/img/bg.jpg") no-repeat center top #3d1d1d;
  background-size: cover;

  .container {
    max-width: 930px;
    width: 100%;

    padding-bottom: 120px;

    .content-block {
      margin: 20px 80px 0px 80px;

      h1 {
        margin: 0px auto 30px auto;
        padding-left: 150px;
        max-width: 450px;

        @extend .font-heart-maze;
        font-size: 85px;
        color: $cor-4;

        text-align: center;
        text-indent: -185px;
        line-height: 0.8em;
      }

      h2 {
        margin: 50px 0px 0px 5px;

        @extend .font-heart-maze;
        font-size: 40px;
        color: $cor-4;
      }

      h3 {
        margin: 0px 0px 0px 5px;

        @extend .font-heart-maze;
        font-size: 24px;
        color: $cor-3;
      }

      p {
        margin: 35px 0 0 0;

        @extend .font-gotham-book;
        font-size: 18px;
        color: $cor-4a;

        line-height: 1.35em;

        &.notification {
          text-align: center;
        }

        &.picture {
          margin-bottom: 35px;

          &.store {
            padding-left: 18%;
            background-image: url('../img/about/chocolate-1.png');
            background-size: 10% 26%;
            background-repeat: repeat-y;
            background-position: 1% top;
          }

          &.factory {
            padding-right: 18%;
            background-image: url('../img/about/chocolate-2.png');
            background-size: 11% 26%;
            background-repeat: repeat-y;
            background-position: right top;
          }

          img {
            width: 100%;
            padding: 13px;
            border: 1px solid $cor-4b;
          }
        }
      }

      p + p:not(.picture) {
        margin: 15px 0 0 0;
      }

      a, strong {
        font-weight: normal;
        color: white;
      }

      em {
        font-style: normal;
        color: $cor-3;
      }

      ul {
        list-style: disc;

        li {
          margin-left: 18px;

          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-4a;
        }
      }

      table {
        position: relative;
        display: block;
        margin: 15px 0;
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        border-spacing: 0;
        border: 0.5px solid white;

        .w-80 {
          width: 80%;
        }

        tbody {
          max-width: 100%;
        }

        tbody, tr, td {
          display: block;
        }

        tr {
          display: flex;
        }

        th,
        td {
          display: flex;
          width: 20%;
          border: 0.5px solid white;
          vertical-align: inherit;
          align-items: center;
          font-size: 12px;
          line-height: 1.1em;
        }

        td {
          padding: 8px;
        }

        th {
          font-size: 13px;;
          color: white;
          padding: 15px 8px;
        }

        p {
          margin: 0;
        }

        @media only screen and (max-width:640px) {
          th,
          td {
            font-size: 11px;
            word-break: break-all;
          }

          td {
            padding: 5px;
          }

          th {
            font-size: 12px;;
            color: white;
            padding: 10px 5px;
          }
        }
      }
    }

    .perguntas-frequentes {
      dl {
        margin: 10px 0px 60px 0px;
        padding: 0;

        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: $cor-4b;

        dt {
          position: relative;
          padding: 15px 50px 15px 20px;

          border-top: 1px solid $cor-4b;

          @extend .font-gotham-bold;
          font-size: 16px;
          letter-spacing: 0.015em;
          color: white;

          text-transform: uppercase;

          cursor: pointer;

          &:after {
            display: block;
            content: "";
            width: 9px;
            height: 6px;

            position: absolute;
            right: 20px;
            top: 15px;

            margin-top: 6px;

            background: url("../img/small-arrow-down.png") center no-repeat;
            background-size: contain;

            animation: faq-arrow-close 0.2s;
            transform: rotate(0deg);
          }

          &.open {
            &:after {
              animation: faq-arrow-open 0.5s;
              transform: rotate(180deg);
            }

            & + dd {
              animation: faq-answer-open 0.5s;
              display: block;
            }
          }
        }

        dd {
          margin: 0;
          padding: 5px 20px 30px 20px;

          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-4c;
          line-height: 1.3em;

          display: none;

          animation: faq-answer-close 0.2s;
        }
      }
    }

    .quick-links {
      li {
        margin: 20px 0;
      }

      a {
        display: block;
        background-color: #310e0e;
        text-align: center;

        position: relative;
        padding: 15px 20px 15px 20px;
        border-radius: 5px;

        @extend .font-gotham-bold;
        font-size: 16px;
        letter-spacing: 0.015em;
        color: white;
        font-weight: bold;
        // color: #c9341e;

        &:hover {
          background-color: #ed6b01;
          color: #310e0e;
        }

        cursor: pointer;
      }
    }

    .sobre {
      h2 {
        margin-top: 0;
      }
    }

    .content-row {
      margin: 0px 80px 0px 80px;
      display: flex;
      justify-content: space-between;

      .valores, .visao {
        margin: 0;
        padding-right: 20px;
        width: 48%;
      }
    }

  }

}

@media only screen and (max-width:1100px) {
  #cbc-about {
    padding-top: 100px;

  }
}

@media only screen and (max-width:768px) {
  #cbc-about {
    padding-top: 15px;
    .container {
      .content-block {
        margin: 30px;
        h1 {
          font-size: 40px;
          padding-left: 0;
          text-indent: 0;
          text-align: left;
        }
      }
      .content-row {
        margin: 30px;
        flex-wrap: wrap;
        .valores, .visao {
          width: 100%;
        }
      }
    }
  }
}
