#cbc-categories {
  height: auto;
  overflow-x: hidden;

  .bg-top, .bg-bottom {
    height: 300px;
    background-color: $cor-2c;
  }

  &.category-list {
    background: url("/assets/site/img/bg.jpg") no-repeat center top;
    .bg-top, .bg-bottom {
      height: 200px;
    }
    header {
      margin-bottom: 20px;
    }
    .container {
      display: flex;
      justify-content: space-between;
      padding: 0 15% 30px;
      .col {
        width: 100%;
        h2 {
          color: $cor-3;
          font-weight: 600;
        }
        ul {
          li {
            a {
              color: $cor-2c;
              font-size: 18px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }

  .category {
    text-align: center;
    padding-top: 30px;
    background-size: cover !important;
    background-position: center top !important;

    &:after {
      content:'';
      display: block;
      height: 1px;
      clear: both;
    }

    header {
      position: relative;
      padding-bottom: 40px;
      img {
        position: absolute;
        top: 0;
        left: 40%;
        max-height: 110px;
      }
      h1 {
        position: relative;
        @extend .font-heart-maze;
        color: #ffffff;
        font-size: 84px;
        padding-top: 10px;
        margin: 0;
        height: 120px;
        z-index: 10;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
      }
      p {
        position: relative;
        @extend .font-gotham-book;
        font-size: 18px;
        color: $cor-2;
        width: 380px;
        margin: 10px auto 0;
      }
      .set1 { margin-left: -15%; margin-top: 0; }
      .set2 { margin-left: -5%; margin-top: -4%; }
      .set3 { margin-left: 17%; margin-top: -4%; }
      .set4 { margin-left: 360px; margin-top: 1%; }
    }

    .container {
      max-width: 985px;
      min-height: 300px;
      width: 100%;

      hr {
        border-top: 1px solid rgba(555,255,255,0.3);
        border-bottom: 1px solid rgba(555,255,255,0.1);
      }

      ul.products {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: flex-start;

        padding: 45px 10px 20px;
        
        a {
          color: $cor-2;
        }

        li {
          margin: 0 30px 30px;
          position: relative;

          a {

            &:after {
              content: " ";
              position: absolute;
              right: 35px;
              top: 60px;
              background: url("/assets/site/img/ui/arrow-circle.png") no-repeat;
              background-size: contain;
              width: 30px;
              height: 30px;
            }

            &:hover:after {
              transform: scale(1.1);
              transition: 0.1s;
            }
          }

          img {
            width: 260px;
            height: 110px;
            object-fit: contain;
          }

          p {
            margin: 4px auto;
            font-size: 13px;
            max-width: 130px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:1400px) {
  #cbc-categories {
    .category {
      header {
        .set1 {
          margin-left: -12%;
        }
        .set2 {
          margin-left: -1%;
        }
      }
    }
  }
}

@media only screen and (min-width:1500px) {
  #cbc-categories {
    .category {
      header {
        .set1 {
          margin-left: -11%;
        }
        .set2 {
          margin-left: -1%;
        }
        .set4 {
          margin-left: 24%;
        }
      }
    }
  }
}

@media only screen and (min-width:1600px) {
  #cbc-categories {
    .category {
      header {
        .set1 {
          margin-left: -10%;
        }
        .set2 {
          margin-left: 0;
        }
        .set4 {
          margin-left: 24%;
        }
      }
    }
  }
}

@media only screen and (min-width:1800px) {
  #cbc-categories {
    .category {
      header {
        .set1 {
          margin-left: -8%;
        }
        .set2 {
          margin-left: 1%;
        }
        .set4 {
          margin-left: 23%;
        }
      }
    }
  }
}

@media only screen and (max-width:1100px) {
  #cbc-categories {
    height: auto;
    .bg-top, .bg-bottom {
      height: 200px;
    }
    &.acessorios {
      header {
        .set1 {
          margin-left: -300px;
        }
      }
    }
    .category {
      .container {
        ul {
          &.products {
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
            li {
              width: 30%;
              margin: 0 0 30px;
              img {
                width: 100%;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  #cbc-categories {
    height: auto;
    .bg-top, .bg-bottom {
      height: 130px;
    }
    &.category-list {
      .bg-top, .bg-bottom {
        height: 110px;
      }
      .container {
        width: 85%;
        padding: 0 0 30px 0;
        flex-wrap: wrap;
        .col {
          width: 100%;
        }
      }
      .category {
        header {
          margin-bottom: 0;
          h1 {
            height: auto;
          }
        }
      }
    }
    .category {
      header {
        padding-bottom: 20px;
        h1 {
          font-size: 54px;
        }
        p {
          width: 90%;
          font-size: 14px;
        }
        img {
          display: none !important;
        }
      }
      .container {
        width: 90%;
        ul {
          &.products {
            li {
              width: 45%;
              margin: 0 0 30px;
            }
          }
        }
      }
    }
    &.presentes {
      header {
        .set2 {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width:480px) {
  #cbc-categories {
    .category {
      .container {
        ul {
          &.products {
            li {
              width: 100%;
              margin: 0 0 30px;
            }
          }
        }
      }
    }
  }
}