#cbc-contact {
  min-height: calc(100vh - 80px);
  padding-top: 55px;
  overflow: auto;
  background: url("/assets/site/img/bg.jpg") no-repeat center top #3d1d1d;

  .loading {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/assets/site/img/loading.svg") no-repeat center rgba(95,63,42,0.9);
    z-index: 9999;
    transition: all 0.3s ease-out;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .container {
    max-width: 930px;
    width: 100%;

    .btn-default {
      padding-left: 40px;
      padding-right: 40px;

      @extend .font-gotham-book;
    }

    .content-block {
      margin: 20px 80px 60px 80px;

      h1 {
        margin-bottom: 30px;

        @extend .font-heart-maze;
        font-size: 85px;
        color: $cor-4;

        text-align: center;
      }

      h2 {
        margin-left: 5px;
        margin-bottom: 10px;

        @extend .font-heart-maze;
        font-size: 40px;
        color: $cor-4;
      }

      p {
        @extend .font-gotham-book;
        font-size: 18px;
        color: $cor-4a;

        line-height: 1.35em;

        &.notification {
          text-align: center;
        }
      }

      a, strong {
        font-weight: normal;
        color: white;
      }

      em {
        font-style: normal;
        color: $cor-3;
      }
    }

    .perguntas-frequentes {
      dl {
        margin: 10px 0px 60px 0px;
        padding: 0;

        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: $cor-4b;

        dt {
          position: relative;
          padding: 15px 50px 15px 20px;

          border-top: 1px solid $cor-4b;

          @extend .font-gotham-bold;
          font-size: 16px;
          letter-spacing: 0.015em;
          color: white;

          text-transform: uppercase;

          cursor: pointer;

          &:after {
            display: block;
            content: "";
            width: 9px;
            height: 6px;

            position: absolute;
            right: 20px;
            top: 15px;

            margin-top: 6px;

            background: url("../img/small-arrow-down.png") center no-repeat;
            background-size: contain;

            animation: faq-arrow-close 0.2s;
            transform: rotate(0deg);
          }

          &.open {
            &:after {
              animation: faq-arrow-open 0.5s;
              transform: rotate(180deg);
            }

            & + dd {
              animation: faq-answer-open 0.5s;
              display: block;
            }
          }
        }

        dd {
          margin: 0;
          padding: 5px 20px 30px 20px;

          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-4c;
          line-height: 1.3em;

          display: none;

          animation: faq-answer-close 0.2s;
        }
      }
    }

    .contato-call-to-action {
      width: 100%;
      margin: 0;
      border-top: 1px solid #8b5e34;
      border-bottom: 1px solid #8b5e34;

      .wrap {
        margin: 35px 80px 55px;

        @media only screen and (max-width: 768px) {
          margin: 25px 0 30px;
        }
      }

      h2 {
        margin-top: 0;
      }

      a {
        display: table;
        margin: 30px auto;
        background-color: #c0006b;
        border-radius: 50px;
        padding: 20px 40px;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 3px;
        text-align: center;

        @media only screen and (max-width: 768px) {
          font-size: 16px;
          letter-spacing: 2px;
          padding: 15px 30px;
        }

        &:hover {
          color: rgba(255,255,255,.8);
        }
      }
    }

    .contato-telefone {

    }

    .form-mensagem {
      width: 100%;
      margin-bottom: 60px;
      border-bottom: 1px solid $cor-4b;

      .form-default {
        margin: 0px;
      }

      .form-row {
        display: flex;
        justify-content: space-between;

        .form-field {
          width: 48%;
        }
      }

      .ct-esqueci-a-senha {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        .btn-esqueci-a-senha {
          border: none;

          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-4a;
  
          line-height: 1.35em;

          text-decoration: underline;
        }
      }

      .ct-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .btn-default {
          padding-left: 25px!important; 
          padding-right: 25px!important; 

          &.btn-full-size {
            width: 100%;
          }
        }

        .aviso {
          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-4a;

          line-height: 1.35em;

          margin-top: 20px;
        }
      }
    }

    .trabalhe-conosco {
      margin: 20px 28px 60px 80px;

      &>div {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      p {
        padding-right: 20%;
      }

      .btn-default {
        margin-top: 18px;
      }
    }

    .sala-de-imprensa {
      .info-assessoria {
        line-height: 1.15em;

        strong {
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    }

  }


}

@media only screen and (max-width:1100px) {
  #cbc-contact {
    padding-top: 55px;
    .form-default {
      .form-field {  
        .select2-container--default {
          width: 100% !important;
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  #cbc-contact {
    padding-top: 0;
    .container {
      width: 85%;
      margin: 0 auto;
      .content-block {
        margin: 0;
        h1 {
          font-size: 65px;
        }
        h2 {
          font-size: 30px;
        }
        em {
          display: block;
          margin-bottom: 0;
        }
      }
      .perguntas-frequentes { 
        dl {
          dt {
            font-size: 14px;
          }
          dd {
            font-size: 14px;
          }
        }
      }
      .form-mensagem {
        .form-row {
          .form-field { 
            width: 100%;  
          } 

          .form-buttons {
            height: auto;
          }

          .btn-default {
            display: flex;
            align-items: center;
            justify-content: center;
            
            padding-left: 15px!important;
            padding-right: 15px!important;
          }
        }

        .form-default {
          margin: 0;
        }
        .ct-btn {
          .aviso {
            font-size: 14px;
            padding-right: 30px;
          }
        }
      }
      .trabalhe-conosco {
        &>div {
          flex-wrap: wrap;
        }
      }
      .sala-de-imprensa {
        .info-assessoria {
          strong {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:440px) {
  #cbc-contact {
    .container {
      .form-mensagem {
        .ct-btn {
          #form-show-signup, #form-show-signin {
            width: 58%;
          }
        }
      }
    }
  }
}

@keyframes faq-arrow-open {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}

@keyframes faq-arrow-close {
  from {transform: rotate(180deg);}
  to {transform: rotate(0deg);}
}

@keyframes faq-answer-open {
  from {height: 0%; overflow: hidden; padding-top: 0; padding-bottom: 0; display: block;}
  to {height: 100%; overflow: auto; display: block;}
}

@keyframes faq-answer-close {
  from {height: 100%; overflow: hidden; display: block;}
  to {height: 0%; overflow: hidden; padding-top: 0; padding-bottom: 0; display: block;}
}
