#cbc-franchise {
  min-height: calc(100vh - 80px);
  padding-top: 75px;
  overflow: auto;
  background: url("/assets/site/img/bg.jpg") no-repeat center top #3d1d1d;

  .loading {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/assets/site/img/loading.svg") no-repeat center rgba(95,63,42,0.9);
    z-index: 9999;
    transition: all 0.3s ease-out;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &.edit {
    .info {
      header {
        h1 {
          span {
            font-family: "Gotham Book", sans-serif;
            color: $cor-2c;
            font-size: 24px;
          }
          p {
            color: #ffffff;
            font-size: 24px;
          }
        }
        img {
          display: block;
          margin: 0 auto 50px;
        }
      }
    }
  }

  &.message {
    height: calc(100vh - 70px);
    .info {
      header {
        h1 {
          text-align: center;
        }
        p {
          text-align: center;
        }
      }
    }
  }

  .container {
    max-width: 930px;
    width: 100%;
  }

  .f-1 {
    color: $cor-2c;
    font-size: 24px;
    display: block;
    margin-bottom: 35px;
    &.color3 {
      color: $cor-3b;
    }
  }
  .f-2 {
    color: #ffffff;
    font-size: 24px;
    @extend .font-gotham-bold;
  }

  .info {
    .container {
      padding: 0 0 0 78px;
    }
    header {
      h1 {
        @extend .font-heart-maze;
        font-size: 60px;
        color: $cor-3b;
        margin-bottom: 0;
      }
      p {
        margin: 10px 0;
        line-height: initial;
        &.f-1 {
          padding-bottom: 20px;
        }
        &.f-2 {
          border-top: 2px solid #dc9a2e;
          border-bottom: 2px solid #dc9a2e;

          padding: 20px 0 20px 0;
          margin-bottom: 30px;

          @extend .font-gotham-book;
          text-align: center;
        }
      }
    }

    .type {
      display: flex;
      padding-top: 65px;
      padding-right: 0;

      p {
        margin: 0 0 15px 0;
      }

      &>div {
        width: 50%;
        text-align: center;
        h2 {
          @extend .font-heart-maze;
          text-align: left;
          font-size: 47px;
          color: $cor-3;
          margin-bottom: 25px;
        }
        p {
          font-size: 18px;
          text-align: left;
          color: $cor-2c;
          em {
            color: #ffffff;
            font-style: normal;
          }
          span {
            font-size: 13px;
          }
        }
      }
      .lojas {
        img {
          margin-right: 95px;
          margin-bottom: 20px;
        }
      }

      .quiosque {
        padding-top: 107px;
        padding-left: 20px;
        img {
          margin-right: 110px;
          margin-bottom: 20px;
        }
      }
    }

    .text-legal {
      margin: 55px 0;
      padding-right: 200px;
      font-size: 12px;
      color: $cor-2c;
      span {
        color: #ffffff;
      }
    }

    .form-franchise {
      display: flex;
      .info {
        width: 50%;
        padding-right: 40px;
        h3 {
          @extend .font-heart-maze;
          font-size: 40px;
          color: $cor-3b;
          margin-top: 30px;
        }
        .f-1 {
          font-size: 18px;
        }
        .f-2 {
          font-size: 18.5px;
        }
      }
      .form-about {
        color: $cor-2c;
        font-size: 16px;
      }
      .form {
        width: 50%;
        padding-top: 20px;
      }
    }

  }
}

@media only screen and (max-width:1100px) {
  #cbc-franchise {
    padding-top: 75px;
    .info {
      .container {
        padding: 0 20px;
      }
      .type {
        &>div {
          width: 44%;
        }
      }
    }
    &.edit {
      .info {
        header {
          img {
            width: 80%;
          }
        }
      }
    }
  }
  .form-default {
    .form-field {
      .select2-container--default {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (max-width:768px) {
  #cbc-franchise {
    padding-top: 20px;
    .info {
      .container {
        width: 100%;
        padding: 0 20px;
        header {
          h1 {
            font-size: 12vw;
            text-align: center;
            margin-bottom: 15px;
          }
        }
        p.f-1 {
          font-size: 16px;
        }
        p.f-2 {
          font-size: 16px;
        }
        .type {
          padding-top: 20px;
          flex-wrap: wrap;
          &>div {
            p {
              font-size: 14px;
            }
          }
          .lojas {
            width: 100%;
            display: flex;
            img {
              width: 100px;
              height: 140px;
              margin-right: 0;
              margin-top: 50px;
            }
            .text {
              padding-left: 25px;
              width: calc(100% - 100px);
            }
          }
          .quiosque {
            width: 100%;
            display: flex;
            padding: 0;
            img {
              width: 100px;
              height: 120px;
              margin-right: 0;
              margin-top: 50px;
            }
            .text {
              padding-left: 25px;
              width: calc(100% - 100px);
            }
          }
        }
      }
      .text-legal {
        padding: 0;
      }
      .form-franchise {
        display: block;
        .info {
          width: 100%;
          padding-right: 0;
          .f-1 {
            font-size: 14px;
          }
          .f-2 {
            font-size: 14px;
          }
        }
        .form {
          width: 100%;
        }
      }
    }

    &.edit {
      .info {
        header {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
