#cbc-home {
  .swiper-container {
    width: 100%;
    height: 678px;

    .swiper-wrapper {
      .swiper-slide .banner-link {
        display: block;
        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
  
          &.mobile {
            display: none;
          }
  
          &.desktop {
            display: block;
          }     
        } 
      } 
    }

    .swiper-pagination-bullet-active {
      background: #eb6900;
    }
  }
  section {
    height: auto;
    width: 100%;
    padding-top: 0;
    .bg {
      height: 290px;
      width: 100%;
    }
    .content {
      overflow: hidden;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: absolute;
        top: 0;
        left: 40%;
      }
      .text {
        position: relative;
        width: 770px;
        height: 400px;
        text-align: right;
        padding-top: 260px;
        padding-right: 90px;
        p {
          width: 100%;
          color: $cor-2;
          font-size: 19px;
          display: block;
          margin-bottom: 35px;
          &.color3 {
            color: $cor-3b;
          }
          &.color2b {
            color: $cor-2b;
          }
        }
      }
    }
  }
  .trufas {
    .content {
      background: url("/assets/site/img/home/sc1_bg.jpg") no-repeat center top;
      height: 750px;
      .text {
        padding-top: 300px;
        margin-top: 40px;
        background: url("/assets/site/img/home/sc1_tlt.png") no-repeat left center;
      }
      .set1 { margin-left: -660px; margin-top: 250px; }
      .set2 { margin-left: -370px; margin-top: 140px; }
      .set3 { margin-left: 400px; margin-top: 145px; }
      .set4 { margin-left: 570px; margin-top: 344px; }
      .set5 { margin-left: 810px; margin-top: 90px; }
    }
  }
  .tablets {
    .content {
      overflow: hidden;
      background: url("/assets/site/img/home/sc2_bg.jpg") no-repeat center top;
      height: 750px;
      .text {
        padding-top: 290px;
        margin-top: 0;
        background: url("/assets/site/img/home/sc2_tlt.png") no-repeat left center;
      }
      .set1 { margin-left: -768px; margin-top: 420px; }
      .set2 { margin-left: -404px; margin-top: 138px; }
      .set3 { margin-left: 577px; margin-top: 392px; }
      .set4 { margin-left: 946px; margin-top: 4px; }
    }
  }
  .presentes {
   .content {
      background: url("/assets/site/img/home/sc3_bg.jpg") no-repeat center top;
      height: 750px;
      .text {
        margin-top: 40px;
        padding-top: 255px;
        background: url("/assets/site/img/home/sc3_tlt.png") no-repeat left center;
      }
      .set1 { margin-left: -768px; margin-top: 184px; }
      .set2 { margin-left: -362px; margin-top: 462px; }
      .set3 { margin-left: 356px; margin-top: 142px; }
      .set4 { margin-left: 582px; margin-top: 412px; }
      .set5 { margin-left: 840px; margin-top: 166px; }
    }
  }
  .cafezinho {
    .content {
      background: url("/assets/site/img/home/sc4_bg.jpg") no-repeat center top;
      height: 750px;
      .text {
        margin-top: 70px;
        padding-top: 275px;
        img {
          top: -155px;
          left: 0;
          position: absolute;
          display: block;
        }
      }
      .set1 { margin-left: -494px; margin-top: 291px; }
      .set2 { margin-left: -316px; margin-top: 410px; }
      .set3 { margin-left: -201px; margin-top: 152px; }
      .set4 { margin-left: 468px; margin-top: 152px; }
      .set5 { margin-left: 488px; margin-top: 320px; }
      .set6 { margin-left: 604px; margin-top: 187px; }
    }
  }
  .acessorios {
    .content {
      background: url("/assets/site/img/home/sc5_bg.jpg") no-repeat center top;
      height: 750px;
      .text {
        height: 440px;
        margin-top: 0;
        padding-top: 305px;
        background: url("/assets/site/img/home/sc5_tlt.png") no-repeat left center;
      }
      .set1 { margin-left: -528px; margin-top: 130px; }
      .set2 { margin-left: 260px; margin-top: 60px; }
      .set3 { margin-left: 560px; margin-top: 208px; }
    }
  }
  .franchising {
    .content {
      background: url("/assets/site/img/home/sc6_bg.jpg") no-repeat center top;
      height: 660px;
      .text {
        width: 940px;
        height: auto;
        padding: 0;
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
        h3 {
          width: 100%;
          @extend .font-heart-maze;
          color: #ffffff;
          font-size: 56px;
          text-align: left;
          margin: 0;
          padding-left: 85px;
        }
        img {
          position: relative;
          left: auto;
          right: auto;
          top: 40px;
          width: 440px;
          height: 297px;
        }
        .division {
          width: calc( 100% - 440px );
          padding-top: 65px;
          padding-left: 70px;
          text-align: center;
          p {
            text-align: left;
            font-size: 18px;
            color: $cor-2a;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1100px) {
  #cbc-home {
    .swiper-container {
      height: 50vw;
    }
    section {
      height: 100vh !important;
      .bg {
        height: 150px;
      }
      .content {
        background-size: cover !important;
        height: 91vh !important;
        .text {
          margin-bottom: 50px;
        }
      }
      &.franchising {
        .content {
          .text {
            width: 90vw;
            margin: 0 auto;
            img {
              width: 40vw;
              height: 28vw;
            }
            h3 {
              padding-right: 50px;
            }
            .division{
              width: 50vw;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:768px) {
  #cbc-home {
    .swiper-container {
      height: auto;
      .swiper-wrapper {
        .swiper-slide .banner-link {
          img {
            &.mobile {
              display: block;
            }
            &.desktop {
              display: none;
            }
          }
        }
      }
    }
    .banner {
      width: 100%;
      background-size: cover;
    }
    section {
      height: 100vh !important;
      .content {
        height: 90vh !important;
        display: block;
        .text {
          width: 85% !important;
          margin: 0 auto;
          padding-right: 0;
          text-align: center;
          background-size: contain !important;
          p {
            font-size: 18px;
            padding-top: 20px;
          }
        }
      }
      &.trufas {
        .content {
          .text {
            padding-top: 240px;
          }
        }
      }
      &.tablets {
        .content {
          .text {
            padding-top: 230px;
            height: 320px;
          }
        }
      }
      &.cafezinho {
        .content {
          .text {
            padding-top: 230px;
            margin-top: 60px;
            p {
              margin-top: 0;
            }
            img {
              width: 90%;
              margin: 0 auto;
              top: 0;
            }
          }
        }
      }
      &.franchising {
        .content {
          .text {
            width: 90vw !important;
            h3 {
              font-size: 8vw;
              padding-left: 0;
              padding-right: 0;
              text-align: center;
            }
            img {
              width: 230px;
              height: 150px;
              margin: 0 auto;
            }
            .division {
              padding-top: 55px;
              width: 100%;
              padding-left: 0;
              p {
                font-size: 14px;
                margin-bottom: 0;
              }
              a {
                margin-top: 20px;
                display: block;
              }
            }
          }
        }
      }
      &.presentes {
        .content {
          .text {
            margin-top: 0;
          }
        }
      }
      &.acessorios {
        .content {
          .text {
            height: 400px;
            padding-top: 285px;
          }
        }
      }
    }
  }
}

@media (min-width:480px) and (max-width: 768px) {
  #cbc-home {
    section {
      .content {
        .text {
          width: 55% !important;
          margin-top: 30% !important;
        }
      }
      &.cafezinho {
        .content {
          .text {
            margin-top: 20% !important;
            padding-top: 45vw;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:480px) {
  #cbc-home {
    section{
      height: 100vh !important;
      &.franchising {
        .content {
          padding-top: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width:330px) {
  #cbc-home {
    padding-bottom: 60px;
    section{
      &.tablets {
        .content {
          .text {
            margin-top: 0;
            p {
              padding-top: 0;
            }
          }
        }
      }
      &.trufas {
        .content {
          .text {
            padding-top: 160px;
          }
        }
      }
      &.presentes {
        .content {
          .text {
            margin-top: 30px;
            padding-top: 145px;
          }
        }
      }
      &.cafezinho {
        .content {
          .text {
            margin-top: 40px;
            padding-top: 195px;
          }
        }
      }
      &.acessorios {
        .content {
          .text {
            height: 300px;
            padding-top: 225px;
          }
        }
      }
      &.franchising {
        .content {
          .text {
            img {
              display: none;
            }
          }
        }
      }
      .content {
        .text {
          padding-top: 160px;
          height: 200px;
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
