#cbc-product {
  height: auto;

  section.product {
    .bg-top {
      height: 300px;
      background-color: $cor-5;

      .jarallax-img {
        width: 100%;
        height: 300px;
        background-size: cover;
      }
    }

    .content {
      overflow: hidden;
      background-color: $cor-3b;
      background-size: cover;
    }

    .details {
      text-align: center;
      color: $cor-10;

      .picture {
        display: none;

        &.desktop {
          display: block;
          max-width: 420px;
          
          margin: 30px auto 30px auto;
        }
      }

      h3 {
        margin: 30px auto 0px auto;

        @extend .font-gotham-thin;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }

      small {
        display: block;
        margin: 0px auto 5px auto;

        @extend .font-gotham-book;
        font-size: 12px;
        text-align: center;
      }

      p {
        margin: 25px auto 0px auto;
        max-width: 350px;

        font-size: 17px;
        text-align: center;
      }

      a.btn-loja {
        display: inline-block;
        margin: 25px auto 25px auto;
        padding-left: 40px;
        background-image: url('../img/ui/pin.svg');
        background-repeat: no-repeat;
        background-position: left 15px center;
      }
    }

    .information {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 985px;
      margin: 15px auto;
      padding: 30px 100px;
      border-top: 2px groove rgba(255,172,81,0.5);
      border-bottom: 2px groove rgba(255,172,81,0.5);

      color: $cor-10;

      &>div {
        width: 48.5%;
        padding: 15px 20px;
        border: 1px solid $cor-4b;
      }

      h4 {
        position: relative;

        @extend .font-gotham-bold;
        font-size: 16px;
        color: white;
        text-transform: uppercase;
        margin: 0;

        cursor: pointer;

        &:after {
          display: block;
          content: "";
          width: 9px;
          height: 6px;

          position: absolute;
          right: 0px;
          top: 0px;

          margin-top: 6px;

          background: url("../img/small-arrow-down.png") center no-repeat;
          background-size: contain;

          animation: product-info-arrow-close 0.2s;
          transform: rotate(0deg);
        }

        &.open {
          &:after {
            animation: product-info-arrow-open 0.5s;
            transform: rotate(180deg);
          }

          & + dl {
            animation: product-info-answer-open 0.5s;
            display: block;
          }
        }
      }

      dl {
        overflow: hidden;
        display: none;
        animation: product-info-answer-close 0.2s;

        dt {
          margin: 0;
          padding: 0;

          @extend .font-gotham-bold;
          font-size: 14.5px;
        }

        dd {
          margin: 0;
          padding: 0;

          font-size: 12px;

          table, tr, th, td {
            margin: 0;
            padding: 0;
            border: 0;
          }

          &>table {
            width: 100%;
            border-collapse: collapse;
            empty-cells: show;

            th:nth-child(2), td:nth-child(2) {
              text-align: left;
            }

            th:nth-child(3), td:nth-child(3) {
              text-align: right;
            }

            th, td {
              border-bottom: 1px solid;
              margin: 0;
              padding: 4px 0 1px;
              color: $cor-10;
            }
          }
        }
      }

      .ingredients {
        dd {
          font-size: 14px;
        }
      }
    }

    .related {
      text-align: center;

      h4 {
        @extend .font-gotham-bold;
        font-size: 16px;
        color: white;
        text-transform: uppercase;
        margin: 0;
      }

      ul {
        display: flex;
        justify-content: center;
        margin: 25px 0;

        li {
          margin: 0 30px;
          position: relative;

          a{
            &:after {
              content: " ";
              position: absolute;
              right: 15px;
              top: 60px;
              background: url("/assets/site/img/ui/arrow-circle.png") no-repeat;
              background-size: contain;
              width: 30px;
              height: 30px;
            }

            &:hover:after {
              transform: scale(1.1);
              transition: 0.1s;
            }
          }

          img {
            width: 150px;
            height: 100px;
            object-fit: contain;
          }
        }
      }
    }

    .bg-bottom {
      height: 290px;
      background-color: $cor-5;

      .jarallax-img {
        width: 100%;
        height: 290px;
        background-size: cover;
      }
    }

    &.trufas {
      .content {
        background-image: url('../img/produtos/trufas/bg-content.jpg');
      }
    }
  }
}

@media only screen and (max-width:1100px) {
}

@media only screen and (max-width:768px) {
  #cbc-product {
    section {
      &.product {
        .bg-top, .bg-bottom {
          height: 150px;
        }
        .details {
          width: 85%;
          margin: 0 auto;
          padding-top: 30px;
          .picture {
            &.desktop {
              display: none;
            }
            &.mobile {
              display: block;
              width: 100%;
              height: auto;
            }
          }
        }
        .information {
          width: 85%;
          padding-left: 0;
          padding-right: 0;
          flex-wrap: wrap;
          &>div {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        .related {
          ul {
            flex-wrap: wrap;
            li {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@keyframes product-info-arrow-open {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}

@keyframes product-info-arrow-close {
  from {transform: rotate(180deg);}
  to {transform: rotate(0deg);}
}

@keyframes product-info-answer-open {
  from {height: 0%; overflow: hidden; padding-top: 0; padding-bottom: 0; display: block;}
  to {height: 100%; overflow: auto; display: block;}
}

@keyframes product-info-answer-close {
  from {height: 100%; overflow: hidden; display: block;}
  to {height: 0%; overflow: hidden; padding-top: 0; padding-bottom: 0; display: block;}
}
