#cbc-store {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  height: calc(100vh - 70px);

  nav {
    box-sizing: border-box;

    width: 245px;
    padding: 180px 15px 15px 20px;

    background: $cor-5;

    h3 {
      @extend .font-heart-maze;
      font-size: 24px;
      color: $cor-3b;
      margin-bottom: 10px;
    }

    .form-default {
      padding-bottom: 10px;
    }

    .form-field {
      height: auto;
      margin-bottom: 10px;
    }

    input.search {
      background-image: url('../img/ui/search-color.svg');
      background-size: 15px 15px;
      background-repeat: no-repeat;
      background-position: right 15px center;
    }

    .select2-selection__arrow {
      display: none;
    }

    .select2-selection__rendered {
      padding-right: 25px;
    }

    .select2-selection--single {
      background: none;
    }

    .select2-container--default {
      background-image: url('../img/ui/select-arrow.png');
      background-size: 8px 15px;
      background-repeat: no-repeat;
      background-position: right 15px center;
    }

    .list-lojas {
      overflow-x: hidden;
      max-height: calc(100vh - 435px);
      
      .location {
        border-top: 1px solid $cor-4b;
        padding: 20px 20px 20px 15px;

        @extend .font-gotham-bold;
        font-size: 12px;
        color: white;
        text-transform: capitalize;
        letter-spacing: 0.08em;

        cursor: pointer;

        h2 {
          @extend .font-gotham-book;
          font-size: 12px;
          color: $cor-5a;

          letter-spacing: 0.02em;
        }

        .selos-servicos {
          margin-top: 10px;

          vertical-align: middle;
          @extend .font-gotham-book;
          font-size: 11px;
          color: $cor-5a;
          text-transform: none;

          img, p {
            display: inline-block;
          }

          p {
            margin: 0 0 10px 5px;
            vertical-align: middle;
          }
        }
      }
    }

    .drawer {
      display: none;
    }
  }

  #mapa-full {
    width: calc(100% - 245px);

    #gmaps {
      width: 100%;
      height: 100%;

      .gm-style-iw {
        text-transform: capitalize;
        
        strong {
          display: block;
          @extend .font-gotham-book;
          font-size: 18px;
          color: $cor-3b;
          margin: 10px 0 10px 0;
        }

        .btn-rota {
          display: block;
          @extend .font-gotham-bold;
          font-size: 16px;
          margin: 10px 0 10px 0;

          &:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 10px;
            border: 6px solid transparent;
            border-left-color: $cor-1;
          }
        }
      }


    }
  }
}

@media only screen and (max-width:768px) {
  #cbc-store {
    #mapa-full {
      width: 100vw;
    }

    nav {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 1;
      transition: 0.3s;
      transform: translateX(-98%);

      .drawer {
        display: block;
        position: absolute;
        top: calc(50% - 58px);
        right: -29px;
        height: 80px;
        width: 30px;
        padding: 24px 9px;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        background: $cor-5;

        &:after {
          content: '';
          display: block;
          height: 100%;
          width: 100%;

          background-image: url('../img/small-arrow-right.png');
          background-repeat: no-repeat;
          background-position: center;

          cursor: pointer;
          transition: 0.3s;
          transform: rotate(0deg);
        }
      }

      &.open {
        transform: translateX(0%);

        .drawer {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  footer#cbc-footer {
    z-index: 999999!important;
  }
}