{% extends 'manager/modules/base.html.twig' %}

{% block title %}Loja{% endblock %}
{% block tagline %}Criação{% endblock %}

{% block body %}
{{ form_start(form) }}
	<div class="box box-primary">
		<div class="box-body">		
				{{ form_widget(form) }}
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_store_index') }}">Voltar para listagem</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="Criar" />
				</div>			
			</div>
		</div>		
	</div>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}  
    <script src="{{ asset('assets/manager/plugins/input-mask/jquery.inputmask.js') }}"></script>
    <script src="{{ asset('assets/manager/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>  
    <script src="{{ asset('assets/manager/plugins/input-mask/jquery.inputmask.numeric.extensions.js') }}"></script>
	<script id="store_script" data-google_api_key={{ google_api_key }} src="{{ asset('assets/manager/js/store.min.js') }}"></script>
{% endblock %}