{% extends 'manager/modules/base.html.twig' %}

{% block title %}Loja{% endblock %}
{% block tagline %}Detalhes{% endblock %}

{% block body %}
	<div class="box box-primary">
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">Id</th>
						<td>{{ store.id }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Nome</th>
						<td>{{ store.name }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Endereço</th>
						<td>{{ store.address }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Complemento</th>
						<td>{{ store.addressComplement }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Bairro</th>
						<td>{{ store.addressDistrict }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Cep</th>
						<td>{{ store.addressZipcode }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">Telefone</th>
						<td>{{ store.phoneNumber }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">WhatsApp</th>
						<td>{{ store.whatsAppNumber }}</td>
					</tr>					
					<tr>
						<th class="col-sm-2 text-right">Tem cafeteria</th>
						<td>{% if store.hasCoffee %}Sim{% else %}Não{% endif %}</td>
					</tr>

					<tr>
						<th class="col-sm-2 text-right">Ativa</th>
						<td>{% if store.isActive %}Sim{% else %}Não{% endif %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('manager_store_index') }}">Voltar para listagem</a>
					
				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('manager_store_edit', { 'id': store.id }) }}">Editar</a>
				</div>		

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" value="Remover">
					{{ form_end(delete_form) }}
				</div>					
			</div>
		</div>
	</div>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">
{% endblock %}

{% block scripts %}	
	<script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
	<script src="{{ asset('assets/manager/js/image.min.js') }}"></script>
{% endblock %}